/*reset*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0px;
	padding: 0px;
}
html, body {width: 100%;height: 100%;font: 12px tahoma, Arial, "微软雅黑" ,"宋体", Verdana, sans-serif;	background-color: #f9f9f9;}
*html, *html body {background-image: url(about:blank);background-attachment: fixed;}
/*所有页面变灰
html{FILTER:gray;filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);}
*/


a{color:#333;text-decoration:none } 
a:hover{color:red;text-decoration: none;}
img {border: none;}
ul {list-style-type: none;}
input, select, label {vertical-align: middle}
pre {white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -pre-wrap;white-space: -o-pre-wrap;word-break: break-all;word-wrap: break-word;}

.hidden{display:none;}
.fPageBox{width:1000px; margin-left:auto; margin-right:auto; }
.fl{float:left;}
.fr{float:right;} 
.bgWhite{ background-color:#fff;}
.marginT_5{ margin-top:5px;}
.marginB_5{ margin-bottom:5px;}
.marginT_10{ margin-top:10px;}
.marginB_10{ margin-bottom:10px;}
.warn{border: 1px solid #ffca80;background-color: #fffee2;}

/*文本超出隐藏*/
.text-overflow{white-space:nowrap;text-overflow:ellipsis;-moz-text-overflow:ellipsis;overflow:hidden;}
.clear{clear:both;}
.clearfix{*zoom:1;height: 100%;}
.clearfix:after,.section:after {clear:both;height:0;overflow:hidden;display:block;visibility:hidden;content:".";}
.txtinp{border:1px #dbdbdb solid;padding:3px;margin-right:3px;}
.overflow{overflow:hidden;}

.lazy {}

/*header & footer & nav fd8b06*/
.header{clear:both;}
.logoBg{background-color:#ff6600; height:150px;  padding-top:40px;  }
.logo{float: left;width: 344px;height: 92px;}
.logoTel{float: left; width: 320px; padding-left:50px;  }
.logoCar{float: right; padding-top:50px; }

#search {width: 320px;padding: 10px 0 0 50px;}
#search .i-search {z-index: 7;width: 304px;height: 36px;margin-bottom: 3px;border: solid #D00000;border-width: 0 3px;}
#search b, #search s, #search .form, #search .text, #search .button {background-image: url(http://misc.360buyimg.com/lib/skin/2012/i/20111221C.png);background-repeat: repeat-x;}
#search b {width: 4px;left: -3px;background-position: -81px -470px;}
#search s {width: 3px;right: -3px;background-position: 0 -470px;}
#search b, #search s {height: 36px;top: 0;background-repeat: no-repeat;}
#search .form {height: 30px;padding: 3px 0;overflow: hidden;background-position: 0 -357px;background-color: #D00000;}
#search .text {position: relative;z-index: 1;width: 216px;height: 20px;padding: 5px;background-position: 0 -360px;background-color: white;background-repeat: repeat-x;line-height: 20px;color: #999;font-family: arial,"宋体b8b\4f53";font-size: 14px;}
#search .button {position: relative;z-index: 1;width: 78px;background-position: 0 -395px;background-color: #FBB111;font-size: 14px;font-weight: bold;}
#search input {margin: 0;padding: 0;height: 30px;border: none;float: left;}
.ld {position: relative;zoom: 1;}

.site-nav{background:url(../AdminJsCss/Img/frameTopBar.jpg) repeat-x; height:29px; border:0 none;}
.site-nav ul{list-style-type:none;overflow:hidden; float:right;}
.site-nav ul li{ float:left; line-height:29px; }
.site-nav ul li a{line-height:29px;}
.site-nav ul li.split{background:url(../AdminJsCss/Img/frameImg.jpg) no-repeat 0 0; width:7px;height:29px;background-position:-310px -17px; margin:0 5px 0 5px;}
.site-nav .login-info {float: right;font-family: verdana;}

.navMenu{height:40px; background:url(CommonImg/webMenu.gif) repeat-x 0 0;background-position:0 -85px;}
.navMenu .con{width:1000px;margin:0 auto;}
.navMenu .fix{width:210px; text-align:center; font-weight:bold; float:left;line-height:40px;}
.navMenu .fix:hover{}
/*
.navMenu .fix .iconU{background:url(CommonImg/webMenu.gif) no-repeat 0 0; width:17px;height:17px;background-position:0 -222px;display:inline-block; float:right; margin:10px 10px 0 0;}
.navMenu .fix .iconD{display:none; background:url(CommonImg/webMenu.gif) no-repeat 0 0;width:17px;height:17px;background-position:-19px -222px; display:inline-block;float:right; margin:10px 10px 0 0;}
<span class="iconD" id="navMenuIcon"></span>
*/

.navMenu ul{width:790px;float:left; overflow:hidden;}
.navMenu li{float:left;line-height:40px; background:url(CommonImg/webMenu.gif) no-repeat 0 0;width:83px;height:40px;background-position:0 0;}
.navMenu li.select{background:url(CommonImg/webMenu.gif) no-repeat 0 0;width:83px;height:40px;background-position:0 -43px;}
.navMenu li:hover{background:url(CommonImg/webMenu.gif) no-repeat 0 0;width:83px;height:40px;background-position:0 -43px;}
.navMenu li a{color:#000; font-weight:bold;display:block;  text-align:center;}
.navMenu li a:hover{color:#000;}
.navMenu li a:link,.navMenu li a:visited{color:#000;}



.navMenuBor{border:1px solid #ddd; overflow:hidden;}
.navMenuBar{background:url(CommonImg/webMenu.gif) repeat-x 0 0;height:40px;background-position:0 -132px;}
.navMenuBar .tit{color:#fff; padding:10px 0 0 10px; font-weight:bold;}

.navMenuBar2{background:url(CommonImg/webMenu.gif) repeat-x 0 0;height:30px;background-position:0 -179px; border-bottom:1px solid #ddd;}
.navMenuBar2_box{border:1px solid #ddd;}
.navMenuBar2 .title{ text-align:center; font-weight:bold; color:#333; display:block; padding-top:6px;}
.navMenuBar2_box .con{padding:5px 0 0 5px;}
.navMenuBar2_box .con a{display:block; line-height:18px; height:18px;word-break:keep-all;white-space:nowrap; text-overflow:ellipsis;}





/*foot*/
.site-ft{text-align:center;padding:0px;margin-top:10px;clear:both;color:#999;}
.site-ft a:link,.site-ft a:visited{color:#999;}
.site-ft .bd,.site-ft .ft{width:1000px;margin:0 auto;}

.ft-help{font-family:微软雅黑;font-size:14px;background:#8f8f8f;height:47px;padding-left:20px; padding-top:13px; }
.ft-help li{float:left;background:url(CommonImg/footer.png) no-repeat;padding:3px 55px 6px 70px;}
.ft-help a:link,.ft-help a:visited{color:#fff;font-size:16px;}
.ft-help .fh1{background-position:30px -115px;}
.ft-help .fh2{background-position:30px -153px;}
.ft-help .fh4{background-position:30px -188px;}
.ft-help .fh3{background-position:30px -221px;}
.ft-help .fh5{background-position:40px -255px;padding-right:0;}

.ft-nav {clear:both;padding:20px 0 10px;margin:0 auto;white-space:nowrap;}
.ft-nav a{margin:0 5px;}

.copyright{padding-bottom:10px;}

.ft-bz a{background:url(CommonImg/footer_icon.gif) no-repeat 0 0; display:inline-block; margin-right:4px; margin-top:5px;}
.ft-bz .i_blxx{width:112px;height:47px;background-position:-4px -7px;}
.ft-bz .i_110{width:112px;height:47px;background-position:-119px -7px;}
.ft-bz .i_zfb{width:112px;height:47px;background-position:-234px -7px;}
.ft-bz .i_versi{width:112px;height:47px;background-position:-349px -7px;}
.ft-bz .i_aaa{width:112px;height:47px;background-position:-575px -7px;}
.ft-bz .i_kexin{width:112px;height:47px;background-position:-689px -7px;}

/*其它页面共用*/
.breadcrumb {width: 1000px;margin: 5px auto 0 auto;clear: both;overflow: hidden; height:18px; line-height: 18px; border-bottom:1px solid #ddd; margin-bottom:8px;}

/*nav menu*/
.newSubMenu{width:178px; padding:20px 10px 0 10px; height:215px; border-left:2px solid #d00000;border-right:2px solid #d00000;border-bottom:2px solid #d00000; background:#fcf4ea;}
.newMenuBlock{ position:relative; width:178px; float:left; z-index:200;}
#newSubMenu .newMenuBlock h3{ position:relative; width:106px; float:left; padding:2px 30px 0 30px; height:32px; line-height:30px; *line-height:24px; border-left:2px solid #fcf4ea; border-bottom:1px solid #fffdfa; font-size:14px; font-weight:normal; color:#555; z-index:201;}
#newSubMenu .newMenuBlock i{ position:absolute; top:7px; left:6px; width:18px; height:18px; background:url(CommonImg/common_icon.gif) no-repeat; z-index:302;}
#newSubMenu .newMenuBlock i.i1{ background-position:0px -2px;}
#newSubMenu .newMenuBlock i.i2{ background-position:0px -2px;}
#newSubMenu .newMenuBlock i.i3{ background-position:-18px -2px;}
#newSubMenu .newMenuBlock i.i4{ background-position:-36px -2px;}
#newSubMenu .newMenuBlock i.i5{ background-position:-54px -2px;}
#newSubMenu .newMenuBlock i.i6{ background-position:-72px -2px;}
#newSubMenu .newMenuBlock sup{ position:absolute; right:16px; top:12px; width:5px; height:7px;  background:url(CommonImg/common_icon.gif) no-repeat -91px -1px; overflow:hidden; z-index:200;}

.newSubMenuCon{ display:none; position:absolute; left:166px; top:-2px; width:420px; line-height:24px; border:2px solid #d00000; background:#fff; z-index:329;}
.MDD{ width:550px; background:#f7f7f7;}
#newSubMenu .newMenuBlock h3.currentLink{ margin-top:-2px; height:31px; border-top:2px solid #d00000; border-bottom:2px solid #d00000; border-left:2px solid #d00000; background-color:#fff; z-index:330;}
#newSubMenu .newMenuBlock h3.currentLink i,#newSubMenu .newMenuBlock h3.currentLink sup{}
#newSubMenu .newMenuBlock .fst{ border-top:0;}
#newSubMenu .newMenuBlock .lst{ border-bottom:0; margin-top:0;}

.newPel{ width:400px; float:left; padding:2px 5px 3px 15px; font-family:Verdana; background:#fff;}
.newPel dl{ display:block; width:380px; float:left; padding-bottom:8px; margin-top:2px; border-bottom:1px solid #eee; overflow:hidden;}
.newPel dl.bd0{ border:0;}
.newPel dl.theam dt{ width:70px;}
.newPel dl.theam dd{ width:320px;}
.newPel dl.theam dd a{ width:65px;}
.newPel dt{ width:60px; float:left; padding-top:3px; color:#f73; font-weight:bold;}
.newPel dd{ width:320px; float:left; padding-top:3px;}
.newPel dd a{ display:inline-block; width:70px; float:left; height:24px; line-height:24px; padding:0 5px; overflow:hidden;}
.newPel dd a.all{ width:40px; height:22px; text-align:center; padding:0; line-height:22px; margin:1px 0 0 5px; display:inline; background:url(CommonImg/common_icon.gif) no-repeat -48px -34px;}
.newPel dd a.all:hover{ text-decoration:none; background:url(CommonImg/common_icon.gif) no-repeat -48px -56px;}

.newPel .tu{ padding:10px 6px 2px 6px;}
.newPel .tu a{ display:inline-block;}
.newPel .tu img{ width:148px; float:left; padding:3px; margin-right:20px; border:1px solid #e1e1e1;}
.newPel .tu span{ clear:both; width:148px; float:left; text-align:center;}
.newPel .txtt a{ display:inline-block; width:120px; font-size:12px; line-height:28px; padding-left:6px;}

.newPel .theme{ font-size:14px; line-height:28px;}
.newPel .theme a{ padding:0 6px;}
.newPel .theme a.f73{ color:#f73;}

.date dd a{ width:40px;}
.date dd a.more{ width:80px;}
.newPel dd a:link,.newPel dd a:visited{ color:#555;}
.newPel dd a:hover{ color:#f73;}

.newPath{ float:left; padding:6px 16px 8px 16px; line-height:20px;}
.newPath dt{ font-weight:bold; color:#f73; padding-top:4px;}

.newSubMenuCon a:link,.newSubMenuCon a:visited{ color:#555;}
.newSubMenuCon a:hover{ color:#f73;}
.newSubMenuCon dt a:link,.newSubMenuCon dt a:visited{ color:#f73;}
.newSubMenuCon dt a:hover{ color:#f73; text-decoration:none;}

.newSubMenuCon span.closeSubMenu{ display:block; width:15px; height:15px; position:absolute; right:1px; top:4px; cursor:pointer; text-indent: -9999px;background:url(img/close.gif) no-repeat;}