body{line-height:160%;font-size:12px;color:#555;text-align:center;background-color:#F9F9F9}
body,input,select,button{font-family:verdana,sans-serif}
h1,h2,h3,h4,h5,h6,select,input,textarea,button{font-size:100%}
body,h1,h2,h3,h4,h5,h6,ul,ol,li,form,p,dl,dt,dd,table,th,td,img,blockquote{margin:0;padding:0;border:0}
hr{margin:0;padding:0}
input,button,textarea,img{line-height:normal}
abbr,acronym,address,cite,q,em,code,var,dfn,ins{font-style:normal;text-decoration:none;border:0}
q:before,q:after{content:""}
ul,ol{list-style:none}
table{border-collapse:collapse;border-spacing:0}



.header{width:960px;height:90px;margin:0 auto;text-align:left;position:relative}

.content{width:960px;margin:0 auto;text-align:left}
.content-tit{height:36px;background-position:0 0;background-color:#2f6774;border:#5B88B8 1px solid;border-radius:3px 3px 0 0; }
.content-tit h1{font-size:14px;line-height:36px;color:#FFF;text-indent:20px;font-weight:bold;}
.content .mainBody{border:#E0E0E0 1px solid;border-top-width:0; padding:15px 15px; background-color:#fff; }


.regForm{}
.ipt {padding: 4px 5px;border: #ABABAB 1px solid;box-shadow: 2px 2px 3px #EDEDED inset;font-size: 14px;font-weight: bold;}
.regForm-item{position:relative}
.regForm-item dt{border-bottom:#ccc 1px solid;font-size:16px;font-weight:bold;line-height:30px;height:30px;margin-bottom:15px;}
.regForm-item th{height:40px;line-height:40px;font-size:14px;width:120px;text-align:right;font-weight:normal;}
.regForm-item-ct{padding:8px 0 8px 100px;zoom:1;position:relative}

.xy-box {height: 260px;overflow-x: hidden;padding: 10px;overflow-y: auto;border: 1px solid rgb(199, 199, 199);margin-left: 3px;width: 450px;margin-top: 5px; display:none;}
.tipBox {width:550px; height:180px; margin:5px auto; padding:35px 35px; font-size:16px; font-weight:bold;}
.tipBox .h {border-bottom:1px solid #ddd; margin:5px auto;    }
.sub_login a {width: 130px;height: 40px;color: #fff; line-height:40px; text-align:center;}