@model CoreModels.Models.UserViewModel
@{
    Layout = null;
    ViewBag.Title = "Home";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>上海星空</title>
    <link rel="stylesheet" type="text/css" href="~/NewUI/css/index.css">
    <script src="~/NewUI/js/jquery-1.11.3.min.js"></script>
    <script src="~/NewUI/js/index.js"></script>
    <script type="text/javascript" src="~/NewUI/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="~/NewUI/js/jquery.SuperSlide.2.1.1.source.js"></script>
</head>
<body>
    <!--侧边-->
    <div class="jdm-toolbar-wrap J-wrap">
        <div class="jdm-toolbar J-toolbar">
            <div class="jdm-toolbar-panels J-panel"></div>
            <div class="jdm-toolbar-tabs J-tab">
                <div data-type="bar" class="J-trigger jdm-toolbar-tab jdm-tbar-tab-ger">
                    <i class="tab-ico"></i>
                    <em class="tab-text">购物车</em>
                </div>
                <div data-type="bar" class="J-trigger jdm-toolbar-tab jdm-tbar-tab-cart">
                    <i class="tab-ico"></i>
                    <em class="tab-text">购物车</em>
                </div>
                <div data-type="bar" clstag="h|keycount|cebianlan_h_follow|btn" class="J-trigger jdm-toolbar-tab jdm-tbar-tab-follow" data-name="follow" data-login="true">
                    <i class="tab-ico"></i>
                    <em class="tab-text">我的关注</em>
                </div>
            </div>
            <div class="J-trigger jdm-toolbar-tab jdm-tbar-tab-message" data-name="message">
                <a target="_blank" href="#">
                    <i class="tab-ico"></i>
                    <em class="tab-text">
                        我的消息
                    </em>
                </a>
            </div>
        </div>
        <div class="jdm-toolbar-footer">
            <div data-type="link" id="#top" class="J-trigger jdm-toolbar-tab jdm-tbar-tab-top">
                <a href="#" clstag="h|keycount|cebianlan_h|top">
                    <i class="tab-ico"></i>
                    <em class="tab-text">顶部</em>
                </a>
            </div>
        </div>
        <div class="jdm-toolbar-mini"></div>
        <div id="J-toolbar-load-hook" clstag="h|keycount|cebianlan_h|load"></div>
    </div>


    <!--头部-->
    <div id="header">
        <div class="header-box">
            <h3 class="huany">旅游签证，行业领先！</h3>
            <ul class="header-left">
                <li class="bj">
                    <a class="dib" href="#">上海市</a>
                    <i class="ci-leftll">
                        <s class="jt">◇</s>
                    </i>
                    <div class="bj-1">
                        <h3>热门城市：</h3>
                        <a href="">北京</a><a href="">上海</a><a href="">广州</a><a href="qieh_cs.html">全部+</a>
                    </div>
                </li>
            </ul>
            <ul class="header-right">
                <li class="denglu">Hi~<a class="red" href="dengl.html">请登录!</a> <a href="zhuc.html">[免费注册]</a></li>
                <li class="shu"></li>
                <li class="denglu"><a class="ing_ps" href="#">我的收藏</a></li>
                @*<li class="shu"></li>
                <li class="denglu"><a class="ing_ps ps1" href="#">申请入驻</a></li>*@
                <li class="shu"></li>
                <li class="denglu"><a class="ing_ps ps2" href="#">客户服务</a></li>
                <li class="shu"></li>
                <li class="shouji bj">
                    <a class="ing_ps ps3" href="#">手机版本</a>
                    <i class="ci-right ">
                        <s class="jt">◇</s>
                    </i>
                    <div class="shouji1">
                        <img src="" class="shouji4">
                        <div class="shouji2">
                            <p>客户端</p>
                            <p class="red">首次下单满1000元，送0元</p>
                        </div>
                        <div class="yi">
                            <img src="" class="shouji4">
                            <div class="er">
                                <p>微信公众号</p>
                                <p class="red">关注公众号，积分换大礼</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--搜索栏-->
    <div class="toub_beij">
        <div class="logo"><a href="./"><img src="~/NewUI/images/logo.png"></a></div>
        <div class="search">
            <input type="text" value="法国签证" class="text" id="textt">
            <button class="button">搜索</button>
        </div>
        <div class="right">
            <i class="gw-left"></i>
            <i class="gw-right"></i>
            <div class="sc">
                <i class="gw-count">0</i>
                <i class="sd"></i>
            </div>
            <a href="gouw_che.html">我的订单</a>
            <div class="dorpdown-layer">
                <ul>
                    <li class="meiyou">
                        <img src="~/NewUI//images/settleup-nogoods.png">
                        <span>查看</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="hotwords">
            <a class="biaoti">热门搜索：</a>
            <a href="#">法国签证</a>
            <a href="#">英国签证</a>
            <a href="#">澳大利亚签证</a>
            <a href="#">美国签证</a>
            <a href="#">日本签证</a>
        </div>
    </div>


    <!--轮播图上方导航栏  一栏-->
    <div id="navv">
        <div class="focus">
            <div class="focus-a">
                <div class="fouc-font"><a href="">全部分类</a> </div>
            </div>
            <div class="focus-b">
                <ul>
                    <li><a href="#">签证首页</a></li>
                    <li><a href="#">欧洲签证</a></li>
                    <li><a href="#">澳洲签证</a></li>
                    <li><a href="#">美洲签证 </a></li>
                    <li><a href="#">东南亚签证</a></li>
                    <li><a href="#">WIFI预定</a></li>
                    <li><a href="/ClientWeb/Index">订单进度</a></li>
                </ul>
            </div>


            <!--左边导航-->
            <div class="dd-inner">
                <div class="font-item">
                    <div class="item fore1">
                        <h3>
                            <a class="da_zhu" href="#">欧洲签证</a>
                            <p>
                                <a href="#">法国</a>
                                <a href="#">德国</a>
                                <a href="#">西班牙</a>
                                <a href="#">意大利</a>
                            </p>
                        </h3>
                        <i>></i>
                    </div>
                    <div class="font-item1">
                        <div class="font-lefty">
                            <dl class="fore1">
                                <dt><a href="">申请表<i>></i></a></dt>
                                <dd>
                                    <a href="">申根</a>
                                </dd>
                            </dl>
                            <dl class="fore1">
                                <dt><a href="">申请表<i>></i></a></dt>
                                <dd>
                                    <a href="">申根</a>
                                </dd>
                            </dl>
                            <dl class="fore1">
                                <dt><a href="">申请表<i>></i></a></dt>
                                <dd>
                                    <a href="">申根</a>
                                </dd>
                            </dl>
                            <dl class="fore1">
                                <dt><a href="">申请表<i>></i></a></dt>
                                <dd>
                                    <a href="">申根</a>
                                </dd>
                            </dl>
                            <dl class="fore1">
                                <dt><a href="">申请表<i>></i></a></dt>
                                <dd>
                                    <a href="">申根</a>
                                </dd>
                            </dl>
                        </div>
                        <div class="font-right">
                            <div>
                                <a href="#">
                                    <img src="~/NewUI/images/562f4971Na5379aba.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/54d9eef9N5bb8d27f.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/54d9ef02N99d26435.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/54d9ef10Nd206a236.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/54d9ef28N00328d44.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/54d9ef34N7cc61f4c.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/54d9ef3eN99aef1f0.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/54d9ef4cN4fe57f9b.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="font-righty">
                            <a href="#">
                                <img src="~/NewUI/images/5673a854N10856704.jpg">
                            </a>
                            <a href="#">
                                <img src="~/NewUI/images/5673a854N10856704.jpg">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="fore-2" style="display:none;">
                    <div class="item fore1">
                        <h3>
                            <a class="da_zhu" href="#">电脑数码</a>
                            <p>
                                <a href="#">手机</a>
                                <a href="#">电脑</a>
                                <a href="#">办公</a>
                                <a href="#">钟表</a>
                            </p>
                        </h3>
                        <i>></i>
                    </div>
                    <div class="font-item1">
                        <div class="font-lefty">
                            <dl class="fore1">
                                <dt><a href="">电脑数码<i>></i></a></dt>
                                <dd>
                                    <a href="">平板电视</a><a href="">空调</a><a href="">冰箱</a><a href="">洗衣机</a><a href="">家庭影院</a><a href="">DVD</a><a href="">迷你音响</a>
                                    <a href="">烟机/灶具</a><a href="">热水器</a><a href="">消毒具/洗碗柜</a><a href="">冰柜/冰吧</a><a href="">酒柜</a><a href="">家电配件</a>
                                </dd>
                            </dl>
                        </div>
                        <div class="font-right">
                            <div>
                                <a href="#">
                                    <img src="~/NewUI/images/562f4971Na5379aba.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/562f4971Na5379aba.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/562f4971Na5379aba.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/562f4971Na5379aba.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/562f4971Na5379aba.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/562f4971Na5379aba.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/562f4971Na5379aba.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/562f4971Na5379aba.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fore-3" style="display:none;">
                    <div class="item fore1">
                        <h3>
                            <a class="da_zhu" href="#">服饰鞋帽</a>
                            <p>
                                <a href="#">男装</a>
                                <a href="#">女装</a>
                                <a href="#">童装</a>
                                <a href="#">内衣</a>
                            </p>
                        </h3>
                        <i>></i>
                    </div>
                    <div class="font-item1">
                        <div class="font-lefty">
                            <dl class="fore1">
                                <dt><a href="">服饰鞋帽<i>></i></a></dt>
                                <dd>
                                    <a href="">平板电视</a><a href="">空调</a><a href="">冰箱</a><a href="">洗衣机</a><a href="">家庭影院</a><a href="">DVD</a><a href="">迷你音响</a>
                                    <a href="">烟机/灶具</a><a href="">热水器</a><a href="">消毒具/洗碗柜</a><a href="">冰柜/冰吧</a><a href="">酒柜</a><a href="">家电配件</a>
                                </dd>
                            </dl>
                        </div>
                        <div class="font-right">
                            <div>
                                <a href="#">
                                    <img src="~/NewUI/images/562f4971Na5379aba.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/562f4971Na5379aba.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/562f4971Na5379aba.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/562f4971Na5379aba.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/562f4971Na5379aba.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/562f4971Na5379aba.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/562f4971Na5379aba.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/562f4971Na5379aba.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fore-4" style="display:none;">
                    <div class="item fore1">
                        <h3>
                            <a class="da_zhu" href="#">汽车用品</a>
                            <p>
                                <a href="#">汽车配件</a>
                                <a href="#">礼品</a>
                                <a href="#">家政服务</a>
                            </p>
                        </h3>
                        <i>></i>
                    </div>
                    <div class="font-item1">
                        <div class="font-lefty">
                            <dl class="fore1">
                                <dt><a href="">汽车用品<i>></i></a></dt>
                                <dd>
                                    <a href="">平板电视</a><a href="">空调</a><a href="">冰箱</a><a href="">洗衣机</a><a href="">家庭影院</a><a href="">DVD</a><a href="">迷你音响</a>
                                    <a href="">烟机/灶具</a><a href="">热水器</a><a href="">消毒具/洗碗柜</a><a href="">冰柜/冰吧</a><a href="">酒柜</a><a href="">家电配件</a>
                                </dd>
                            </dl>
                        </div>
                        <div class="font-right">
                            <div>
                                <a href="#">
                                    <img src="~/NewUI/images/562f4971Na5379aba.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/54d9eef9N5bb8d27f.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/54d9ef02N99d26435.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/54d9ef10Nd206a236.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/54d9ef28N00328d44.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/54d9ef34N7cc61f4c.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/54d9ef3eN99aef1f0.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/54d9ef4cN4fe57f9b.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fore-5" style="display:none;">
                    <div class="item fore1">
                        <h3>
                            <a class="da_zhu" href="#">食品保健</a>
                            <p>
                                <a href="#">美食</a>
                                <a href="#">酒类</a>
                                <a href="#">生鲜</a>
                                <a href="#">特产</a>
                            </p>
                        </h3>
                        <i>></i>
                    </div>
                    <div class="font-item1">
                        <div class="font-lefty">
                            <dl class="fore1">
                                <dt><a href="">食品保健<i>></i></a></dt>
                                <dd>
                                    <a href="">食品保健</a><a href="">食品保健</a><a href="">冰箱</a><a href="">洗衣机</a><a href="">家庭影院</a><a href="">DVD</a><a href="">迷你音响</a>
                                    <a href="">烟机/食品保健</a><a href="">热水器</a><a href="">消毒具/洗碗柜</a><a href="">冰柜/冰吧</a><a href="">酒柜</a><a href="">家电配件</a>
                                </dd>
                            </dl>
                        </div>
                        <div class="font-right">
                            <div>
                                <a href="#">
                                    <img src="~/NewUI/images/562f4971Na5379aba.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/54d9eef9N5bb8d27f.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/54d9ef02N99d26435.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/54d9ef10Nd206a236.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/54d9ef28N00328d44.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/54d9ef34N7cc61f4c.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/54d9ef3eN99aef1f0.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/54d9ef4cN4fe57f9b.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fore-6" style="display:none;">
                    <div class="item fore1">
                        <h3>
                            <a class="da_zhu" href="#">美酒鲜花</a>
                            <p>
                                <a href="#">手机</a>
                                <a href="#">电脑</a>
                                <a href="#">办公</a>
                                <a href="#">钟表</a>
                            </p>
                        </h3>
                        <i>></i>
                    </div>
                    <div class="font-item1">
                        <div class="font-lefty">
                            <dl class="fore1">
                                <dt><a href="">美酒鲜花<i>></i></a></dt>
                                <dd>
                                    <a href="">平板电视</a><a href="">空调</a><a href="">冰箱</a><a href="">洗衣机</a><a href="">家庭影院</a><a href="">DVD</a><a href="">迷你音响</a>
                                    <a href="">烟机/灶具</a><a href="">热水器</a><a href="">消毒具/洗碗柜</a><a href="">冰柜/冰吧</a><a href="">酒柜</a><a href="">家电配件</a>
                                </dd>
                            </dl>
                        </div>
                        <div class="font-right">
                            <div>
                                <a href="#">
                                    <img src="~/NewUI/images/562f4971Na5379aba.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/54d9eef9N5bb8d27f.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/54d9ef02N99d26435.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/54d9ef10Nd206a236.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/54d9ef28N00328d44.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/54d9ef34N7cc61f4c.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/54d9ef3eN99aef1f0.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/54d9ef4cN4fe57f9b.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fore-7" style="display:none;">
                    <div class="item fore1">
                        <h3>
                            <a class="da_zhu" href="#">图书</a>
                            <p>
                                <a href="#">图书</a>
                                <a href="#">图书</a>
                                <a href="#">办公</a>
                                <a href="#">电子书</a>
                            </p>
                        </h3>
                        <i>></i>
                    </div>
                    <div class="font-item1">
                        <div class="font-lefty">
                            <dl class="fore1">
                                <dt><a href="">图书<i>></i></a></dt>
                                <dd>
                                    <a href="">平板电视</a><a href="">空调</a><a href="">冰箱</a><a href="">洗衣机</a><a href="">家庭影院</a><a href="">DVD</a><a href="">迷你音响</a>
                                    <a href="">烟机/灶具</a><a href="">热水器</a><a href="">消毒具/洗碗柜</a><a href="">冰柜/冰吧</a><a href="">酒柜</a><a href="">家电配件</a>
                                </dd>
                            </dl>
                        </div>
                        <div class="font-right">
                            <div>
                                <a href="#">
                                    <img src="~/NewUI/images/562f4971Na5379aba.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/54d9eef9N5bb8d27f.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/54d9ef02N99d26435.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/54d9ef10Nd206a236.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/54d9ef28N00328d44.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/54d9ef34N7cc61f4c.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/54d9ef3eN99aef1f0.jpg">
                                </a>
                                <a href="#">
                                    <img src="~/NewUI/images/54d9ef4cN4fe57f9b.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!---->
            </div>
        </div>
    </div>

    <!--轮播图-->
    <div id="lunbo">
        <ul id="one">
            <li><a href=""><img src="~/NewUI/images/banner.jpg"></a></li>
            <li><a href=""><img src="~/NewUI/images/banner1.jpg"></a></li>
            <li><a href=""><img src="~/NewUI/images/banner.jpg"></a></li>
            <li><a href=""><img src="~/NewUI/images/banner1.jpg"></a></li>
        </ul>
        <ul id="two">
            <li class="on">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
        </ul>
        <!--轮播图左右箭头-->
        <div class="slider-page">
            <a href="javascript:void(0)" id="left"><</a>
            <a href="javascript:void(0)" id="right">></a>
        </div>
    </div>

    <!--内容一开始了-->
    <div class="bend_beij">
        <!--本地生活-->
        <div class="bend_dhengh">
            <div class="neir_biaot">
                <p>热门推荐</p>
                <p class="yingw">Local life</p>
            </div>
            <div class="jiank_meis">
                <div class="kuang_1">
                    <a href="#">
                        <img src="~/NewUI/images/jiank_meis.jpg">
                        <div class="jiank_meis_wenz">
                            <p>法国旅游</p>
                            <span>让生活&nbsp;&nbsp;更健康&nbsp;&nbsp;更美味&nbsp;&nbsp;更舒心</span>
                        </div>
                    </a>
                </div>
                <div class="dianq_qvy">
                    <div class="shiq">
                        <h2>全部区域</h2>
                        <ul>
                            <li><a href="#">巴黎</a></li>
                            <li id="show">更多 </li>
                        </ul>
                    </div>
                    <div class="ktv_jiub">
                        <ul>
                            <li><a href="#">法国签证</a></li>
                            <li><a href="#">法国签证</a></li>
                            <li><a href="#">法国签证</a></li>
                            <li><a href="#">法国签证</a></li>
                            <li><a href="#">法国签证</a></li>
                            <li><a href="#">法国签证</a></li>
                            <li><a href="#">法国签证</a></li>
                            <li><a href="#">法国签证</a></li>
                        </ul>
                    </div>
                </div>
                <div class="lunb_t">
                    <div class="picScroll_left_1">
                        <div class="bd">
                            <ul class="picList">
                                <li>
                                    <div class="pic"><a href="#" target="_blank"><img src="~/NewUI/images/lengy.jpg" /></a></div>
                                    <div class="title"><a href="#" target="_blank">签证攻略</a><span>美食达人</span><p>10分</p></div>
                                </li>
                                <li>
                                    <div class="pic"><a href="#" target="_blank"><img src="~/NewUI/images/lengy.jpg" /></a></div>
                                    <div class="title"><a href="#" target="_blank">签证攻略</a><span>美食达人美食达人美食达人美食达人美食达人</span><p>10分</p></div>
                                </li>
                                @*<li>
                                    <div class="pic"><a href="#" target="_blank"><img src="~/NewUI/images/lengy.jpg" /></a></div>
                                    <div class="title"><a href="#" target="_blank">卡通美食冷饮</a><span>卡通美食冷饮全家福三人分</span><p>￥6.00</p></div>
                                </li>
                                <li>
                                    <div class="pic"><a href="#" target="_blank"><img src="~/NewUI/images/lengy.jpg" /></a></div>
                                    <div class="title"><a href="#" target="_blank">卡通美食冷饮</a><span>卡通美食冷饮全家福三人分</span><p>￥6.00</p></div>
                                </li>*@
                            </ul>
                        </div>
                        <div class="hd">
                            <ul></ul>
                        </div>
                    </div>
                    <script type="text/javascript">
                        jQuery(".picScroll_left_1").slide({ titCell: ".hd ul", mainCell: ".bd ul", autoPage: true, effect: "left", autoPlay: true, vis: 1, trigger: "click" });
                    </script>

                </div>
            </div>
            <div class="toum_">
                <ul>
                    <li>
                        <a href="#">
                            <img src="~/NewUI/images/jiudi_kez.jpg">
                            <div class="jiank_meis_wenz_1">
                                <p>健康美食</p>
                            </div>
                        </a>
                    </li>
                    <li class="sdfs">
                        <a href="#">
                            <img src="~/NewUI/images/xiux_yvl.jpg">
                            <div class="jiank_meis_wenz_1">
                                <p>休闲娱乐</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/NewUI/images/liren.jpg">
                            <div class="jiank_meis_wenz_1">
                                <p>丽人</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--周边-->
        <div class="zhoub">
            <div class="neir_biaot">
                <p>签证</p>
                <p class="yingw">periphery</p>
            </div>
            <div class="zhoub_neir">
                <ul>
                    <li><a href="#"><img src="~/NewUI/images/zoub.jpg"></a></li>
                    <li><a href="#"><img src="~/NewUI/images/zoub2.jpg"></a></li>
                    <li><a href="#"><img src="~/NewUI/images/zoub3.jpg"></a></li>
                </ul>
            </div>
        </div>

    </div>

    <!--快速通道栏-->
    <div class="kuanjlan" style="display:none;">
        <ul class="clearfix">
            <li>
                <div class="list-li-box">
                    <a class="list-img" href="#" data-code="index01004-1" target="_blank">
                        <img src="~/NewUI/images/meinv_1.jpg">
                        <span class="list-bg"></span>
                        <div class="list-cont">
                            <p class="cont-item"><span>羽饰</span></p>
                            <p class="cont-tile">秋季来点羽毛元素</p>
                            <p class="cont-info">让你更加美丽迷人</p>
                        </div>
                    </a>
                </div>

            </li>
            <li>
                <div class="list-li-box">
                    <a class="list-img" href="#" data-code="index01004-2" target="_blank">
                        <img src="~/NewUI/images/meinv_2.jpg">
                        <span class="list-bg"></span>
                        <div class="list-cont">
                            <p class="cont-item"><span>原宿风</span></p>
                            <p class="cont-tile">个性夸张美衣</p>
                            <p class="cont-info">潮流原宿风</p>
                        </div>
                    </a>
                </div>

            </li>
            <li>
                <div class="list-li-box">
                    <a class="list-img" href="#" data-code="index01004-3" target="_blank">
                        <img src="~/NewUI/images/meinv_3.jpg">
                        <span class="list-bg"></span>
                        <div class="list-cont">
                            <p class="cont-item"><span>皮裤</span></p>
                            <p class="cont-tile">高腰修身皮裤</p>
                            <p class="cont-info">轻松享受女神感觉</p>
                        </div>
                    </a>
                </div>

            </li>
            <li>
                <div class="list-li-box">
                    <a class="list-img" href="#" data-code="index01004-4" target="_blank">
                        <img src="~/NewUI/images/meinv_4.jpg">
                        <span class="list-bg"></span>
                        <div class="list-cont">
                            <p class="cont-item"><span>服装</span></p>
                            <p class="cont-tile">变身女神范儿</p>
                            <p class="cont-info">几种搭配轻松打造</p>
                        </div>
                    </a>
                </div>
            </li>
        </ul>
    </div>


    <!--层次-->
    <div class="chengc_jvz">
        <div class="slideTxtBox">
            <div class="hd">
                <h1>
                    <p>精品推荐</p>
                    <p class="yingw_">Office furniture</p>
                </h1>
                <ul>
                    <li>精品1</li>
                    <li>精品2</li>
                </ul>
            </div>
            <div class="bd">
                <ul>
                    <div class="louc_tup_qieh">
                        <div class="js-silder ws-slider">
                            <div class="silder-scroll">
                                <div class="silder-main">
                                    <div class="silder-main-img">
                                        <a href="#"><img src="~/NewUI/images/liuceng_1.jpg" alt=""></a>
                                    </div>
                                    <div class="silder-main-img">
                                        <a href="#"><img src="~/NewUI/images/2.png" alt=""></a>
                                    </div>
                                    <div class="silder-main-img">
                                        <a href="#"><img src="~/NewUI/images/3.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="js-silder-ctrl">
                                <span class="silder-ctrl-prev"></span>
                                <span class="silder-ctrl-next"></span>
                            </div>
                        </div>
                        <div class="kuas_daoh">
                            <a href="#">法国</a>
                            <a href="#">法国</a>
                            <a href="#">法国</a>
                            <a href="#">法国</a>
                        </div>
                    </div>
                    <div class="you_lirb">
                        <div class="shang_buf">
                            <div class="you_shangp_lieb ">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_001.jpg"></a>
                                <a href="#" class="_you_neir_biaot">签证数据</a>
                                <span>1000</span>
                            </div>
                            <div class="you_shangp_lieb ">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_001.jpg"></a>
                                <a href="#" class="_you_neir_biaot">签证数据</a>
                                <span>1000</span>
                            </div>
                            <div class="you_shangp_lieb ">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_001.jpg"></a>
                                <a href="#" class="_you_neir_biaot">签证数据</a>
                                <span>1000</span>
                            </div>
                            @*<div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_002.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb cnm">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_003.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>*@
                        </div>
                        <div class="xia_buf">
                            <div class="you_shangp_lieb ">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_001.jpg"></a>
                                <a href="#" class="_you_neir_biaot">签证数据</a>
                                <span>1000</span>
                            </div>
                            <div class="you_shangp_lieb ">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_001.jpg"></a>
                                <a href="#" class="_you_neir_biaot">签证数据</a>
                                <span>1000</span>
                            </div>
                            <div class="you_shangp_lieb ">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_001.jpg"></a>
                                <a href="#" class="_you_neir_biaot">签证数据</a>
                                <span>1000</span>
                            </div>
                            @*<div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_004.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_003.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb cnm">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_005.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>*@
                        </div>
                    </div>
                </ul>
                <ul>
                    <div class="pangb_daoh">
                        <h1><a href="#"><img src="~/NewUI/images/de111.jpg"></a></h1>
                        <div class="kuas_daoh_houm">
                            <a href="#">法国签证</a>
                            <a href="#">美国签证</a>
                            <a href="#">德国签证</a>
                            <a href="#">德国签证</a>
                        </div>
                    </div>
                    <div class="you_lirb you_lirb_hou">
                        <div class="shang_buf">
                            <div class="you_shangp_lieb ">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_001.jpg"></a>
                                <a href="#" class="_you_neir_biaot">申请</a>
                                <span>1000</span>
                            </div>
                            <div class="you_shangp_lieb ">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_001.jpg"></a>
                                <a href="#" class="_you_neir_biaot">申请</a>
                                <span>1000</span>
                            </div>
                            <div class="you_shangp_lieb ">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_001.jpg"></a>
                                <a href="#" class="_you_neir_biaot">申请</a>
                                <span>1000</span>
                            </div>
                            <div class="you_shangp_lieb ">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_001.jpg"></a>
                                <a href="#" class="_you_neir_biaot">申请</a>
                                <span>1000</span>
                            </div>
                        </div>
                        <div class="xia_buf">
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_004.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_003.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_004.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb cnm">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_005.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                        </div>
                    </div>
                </ul>
                <ul>
                    <div class="pangb_daoh">
                        <h1><a href="#"><img src="~/NewUI/images/de111.jpg"></a></h1>
                        <div class="kuas_daoh_houm">
                            <a href="#">法国签证</a>
                            <a href="#">法国签证</a>
                            <a href="#">法国签证</a>
                            <a href="#">法国签证</a>
                        </div>
                    </div>
                    <div class="you_lirb you_lirb_hou">
                        <div class="shang_buf">
                            <div class="you_shangp_lieb ">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_001.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_002.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb ">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_001.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb cnm">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_003.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                        </div>
                        <div class="xia_buf">
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_004.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_003.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_004.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb cnm">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_005.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                        </div>
                    </div>
                </ul>
                <ul>
                    <div class="pangb_daoh">
                        <h1><a href="#"><img src="~/NewUI/images/de111.jpg"></a></h1>
                        <div class="kuas_daoh_houm">
                            <a href="#">法国</a>
                            <a href="#">法国</a>
                            <a href="#">法国</a>
                            <a href="#">法国</a>
                        </div>
                    </div>
                    <div class="you_lirb you_lirb_hou">
                        <div class="shang_buf">
                            <div class="you_shangp_lieb ">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_001.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_002.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb ">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_001.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb cnm">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_003.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                        </div>
                        <div class="xia_buf">
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_004.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_003.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_004.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb cnm">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_005.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                        </div>
                    </div>
                </ul>
                <ul>
                    <div class="pangb_daoh">
                        <h1><a href="#"><img src="~/NewUI/images/de111.jpg"></a></h1>
                        <div class="kuas_daoh_houm">
                            <a href="#">法国</a>
                            <a href="#">法国</a>
                            <a href="#">法国</a>
                            <a href="#">法国</a>
                        </div>
                    </div>
                    <div class="you_lirb you_lirb_hou">
                        <div class="shang_buf">
                            <div class="you_shangp_lieb ">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_001.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_002.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb ">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_001.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb cnm">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_003.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                        </div>
                        <div class="xia_buf">
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_004.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_003.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_004.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb cnm">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_005.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                        </div>
                    </div>
                </ul>
                <ul>
                    <div class="pangb_daoh">
                        <h1><a href="#"><img src="~/NewUI/images/de111.jpg"></a></h1>
                        <div class="kuas_daoh_houm">
                            <a href="#">法国</a>
                            <a href="#">法国</a>
                            <a href="#">法国</a>
                        </div>
                    </div>
                    <div class="you_lirb you_lirb_hou">
                        <div class="shang_buf">
                            <div class="you_shangp_lieb ">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_001.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_002.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb ">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_001.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb cnm">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_003.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                        </div>
                        <div class="xia_buf">
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_004.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_003.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_004.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb cnm">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_005.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>

    @*<div class="chengc_jvz">
        <div class="slideTxtBox2">
            <div class="hd">
                <h1>
                    <p>手机数码</p>
                    <p class="yingw_">Mobile phone digital</p>
                </h1>
                <ul><li>电脑整机</li><li>热门手机</li><li>智能数码</li><li>游戏组装</li><li>硬件存储</li><li>摄影产品</li></ul>
            </div>
            <div class="bd">
                <ul>
                    <div class="louc_tup_qieh">
                        <div class="js-silder ws-slider">
                            <div class="silder-scroll">
                                <div class="silder-main">
                                    <div class="silder-main-img">
                                        <a href="#"><img src="~/NewUI/images/liuceng_1.jpg" alt=""></a>
                                    </div>
                                    <div class="silder-main-img">
                                        <a href="#"><img src="~/NewUI/images/2.png" alt=""></a>
                                    </div>
                                    <div class="silder-main-img">
                                        <a href="#"><img src="~/NewUI/images/3.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="js-silder-ctrl">
                                <span class="silder-ctrl-prev"></span>
                                <span class="silder-ctrl-next"></span>
                            </div>
                        </div>
                        <div class="kuas_daoh kuas_daoh_2">
                            <a href="#">客厅餐厅</a>
                            <a href="#">床衣柜</a>
                            <a href="#">书房儿童</a>
                            <a href="#">五金工具</a>
                            <a href="#">沙发实木</a>
                            <a href="#">床垫</a>
                            <a href="#">电脑桌</a>
                            <a href="#">接线板</a>
                            <a href="#">餐桌餐椅</a>
                            <a href="#">简易衣柜</a>
                            <a href="#">书桌</a>
                            <a href="#">开关插座</a>
                            <a href="#">酒柜餐边</a>
                            <a href="#">乳胶床垫</a>
                            <a href="#">办公桌</a>
                            <a href="#">USB插座</a>
                        </div>
                    </div>
                    <div class="you_lirb you_lirb_2">
                        <div class="shang_buf">
                            <div class="you_shangp_lieb ">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_001.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_002.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb cnm">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_003.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                        </div>
                        <div class="xia_buf">
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_004.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_003.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb cnm">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_005.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                        </div>
                    </div>
                </ul>
                <ul>
                    <div class="pangb_daoh">
                        <h1><a href="#"><img src="~/NewUI/images/de111.jpg"></a></h1>
                        <div class="kuas_daoh_houm kuas_daoh_houm_2">
                            <a href="#">客厅餐厅</a>
                            <a href="#">床衣柜</a>
                            <a href="#">书房儿童</a>
                            <a href="#">五金工具</a>
                            <a href="#">沙发实木</a>
                            <a href="#">床垫</a>
                            <a href="#">电脑桌</a>
                            <a href="#">接线板</a>
                            <a href="#">餐桌餐椅</a>
                            <a href="#">简易衣柜</a>
                            <a href="#">书桌</a>
                            <a href="#">开关插座</a>
                            <a href="#">酒柜餐边</a>
                            <a href="#">乳胶床垫</a>
                            <a href="#">办公桌</a>
                            <a href="#">USB插座</a>
                        </div>
                    </div>
                    <div class="you_lirb you_lirb_hou you_lirb_2">
                        <div class="shang_buf">
                            <div class="you_shangp_lieb ">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_001.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_002.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb ">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_001.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb cnm">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_003.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                        </div>
                        <div class="xia_buf">
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_004.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_003.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_004.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb cnm">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_005.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                        </div>
                    </div>
                </ul>
                <ul>
                    <div class="pangb_daoh">
                        <h1><a href="#"><img src="~/NewUI/images/de111.jpg"></a></h1>
                        <div class="kuas_daoh_houm kuas_daoh_houm_2">
                            <a href="#">客厅餐厅</a>
                            <a href="#">床衣柜</a>
                            <a href="#">书房儿童</a>
                            <a href="#">五金工具</a>
                            <a href="#">沙发实木</a>
                            <a href="#">床垫</a>
                            <a href="#">电脑桌</a>
                            <a href="#">接线板</a>
                            <a href="#">餐桌餐椅</a>
                            <a href="#">简易衣柜</a>
                            <a href="#">书桌</a>
                            <a href="#">开关插座</a>
                            <a href="#">酒柜餐边</a>
                            <a href="#">乳胶床垫</a>
                            <a href="#">办公桌</a>
                            <a href="#">USB插座</a>
                        </div>
                    </div>
                    <div class="you_lirb you_lirb_hou you_lirb_2">
                        <div class="shang_buf">
                            <div class="you_shangp_lieb ">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_001.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_002.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb ">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_001.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb cnm">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_003.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                        </div>
                        <div class="xia_buf">
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_004.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_003.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_004.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb cnm">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_005.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                        </div>
                    </div>
                </ul>
                <ul>
                    <div class="pangb_daoh">
                        <h1><a href="#"><img src="~/NewUI/images/de111.jpg"></a></h1>
                        <div class="kuas_daoh_houm kuas_daoh_houm_2">
                            <a href="#">客厅餐厅</a>
                            <a href="#">床衣柜</a>
                            <a href="#">书房儿童</a>
                            <a href="#">五金工具</a>
                            <a href="#">沙发实木</a>
                            <a href="#">床垫</a>
                            <a href="#">电脑桌</a>
                            <a href="#">接线板</a>
                            <a href="#">餐桌餐椅</a>
                            <a href="#">简易衣柜</a>
                            <a href="#">书桌</a>
                            <a href="#">开关插座</a>
                            <a href="#">酒柜餐边</a>
                            <a href="#">乳胶床垫</a>
                            <a href="#">办公桌</a>
                            <a href="#">USB插座</a>
                        </div>
                    </div>
                    <div class="you_lirb you_lirb_hou you_lirb_2">
                        <div class="shang_buf">
                            <div class="you_shangp_lieb ">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_001.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_002.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb ">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_001.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb cnm">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_003.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                        </div>
                        <div class="xia_buf">
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_004.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_003.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_004.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb cnm">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_005.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                        </div>
                    </div>
                </ul>
                <ul>
                    <div class="pangb_daoh">
                        <h1><a href="#"><img src="~/NewUI/images/de111.jpg"></a></h1>
                        <div class="kuas_daoh_houm kuas_daoh_houm_2">
                            <a href="#">客厅餐厅</a>
                            <a href="#">床衣柜</a>
                            <a href="#">书房儿童</a>
                            <a href="#">五金工具</a>
                            <a href="#">沙发实木</a>
                            <a href="#">床垫</a>
                            <a href="#">电脑桌</a>
                            <a href="#">接线板</a>
                            <a href="#">餐桌餐椅</a>
                            <a href="#">简易衣柜</a>
                            <a href="#">书桌</a>
                            <a href="#">开关插座</a>
                            <a href="#">酒柜餐边</a>
                            <a href="#">乳胶床垫</a>
                            <a href="#">办公桌</a>
                            <a href="#">USB插座</a>
                        </div>
                    </div>
                    <div class="you_lirb you_lirb_hou you_lirb_2">
                        <div class="shang_buf">
                            <div class="you_shangp_lieb ">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_001.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_002.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb ">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_001.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb cnm">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_003.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                        </div>
                        <div class="xia_buf">
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_004.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_003.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_004.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb cnm">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_005.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                        </div>
                    </div>
                </ul>
                <ul>
                    <div class="pangb_daoh">
                        <h1><a href="#"><img src="~/NewUI/images/de111.jpg"></a></h1>
                        <div class="kuas_daoh_houm kuas_daoh_houm_2">
                            <a href="#">客厅餐厅</a>
                            <a href="#">床衣柜</a>
                            <a href="#">书房儿童</a>
                            <a href="#">五金工具</a>
                            <a href="#">沙发实木</a>
                            <a href="#">床垫</a>
                            <a href="#">电脑桌</a>
                            <a href="#">接线板</a>
                            <a href="#">餐桌餐椅</a>
                            <a href="#">简易衣柜</a>
                            <a href="#">书桌</a>
                            <a href="#">开关插座</a>
                            <a href="#">酒柜餐边</a>
                            <a href="#">乳胶床垫</a>
                            <a href="#">办公桌</a>
                            <a href="#">USB插座</a>
                        </div>
                    </div>
                    <div class="you_lirb you_lirb_hou you_lirb_2">
                        <div class="shang_buf">
                            <div class="you_shangp_lieb ">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_001.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_002.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb ">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_001.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb cnm">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_003.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                        </div>
                        <div class="xia_buf">
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_004.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_003.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_004.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                            <div class="you_shangp_lieb cnm">
                                <a href="#"><img class="you_tup_k" src="~/NewUI/images/yic_005.jpg"></a>
                                <a href="#" class="_you_neir_biaot">林氏木业简约现代真皮转角客厅头层牛皮沙发家具2036</a>
                                <span>¥ 2599 .00</span>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>*@



    <script type="text/javascript">jQuery(".slideTxtBox").slide();</script>
    <script type="text/javascript">jQuery(".slideTxtBox2").slide();</script>
    <script type="text/javascript">jQuery(".slideTxtBox3").slide();</script>
    <script type="text/javascript">jQuery(".slideTxtBox4").slide();</script>



    <!--广告图-->
    <div class="guangg_tu">
        <a href="#"><img src="~/NewUI/images/guang_tu.jpg"></a>
    </div>


    <!--特色商品/ 热门商品-->

    <div class="tes_shnagp_beij">
        <div class="tes_shangp">
            <div class="neir_biaot">
                <p>旅游产品</p>
                <p class="yingw">featured</p>
                <a href="#">MORE+</a>
            </div>
            <div class="tes_shangp_neir_k">
                <div class="tes_dat">
                    <a href="#">
                        <h1><img class="tes_dat_dongh" src="~/NewUI/images/te_se_shangp_da.jpg"></h1>
                        <h2>法国一地淳</h2>
                        <span>¥ 4999 .00</span>
                    </a>
                </div>
                <div class="tes_xiaot_beij">
                    <div class="tes_xiaot_shang">
                        <div class="tes_xiaot_neir">
                            <a href="#">
                                <h1><img class="tes_xiaot_dongh" src="~/NewUI/images/tes_shangp_xiao.jpg"></h1>
                                <h2>法国</h2>
                                <span>00</span>
                            </a>
                        </div>
                        <div class="tes_xiaot_neir tes_xiaot_wubian_kuang">
                            <a href="#">
                                <h1><img class="tes_xiaot_dongh" src="~/NewUI/images/tes_shangp_xiao.jpg"></h1>
                                <h2>法国</h2>
                                <span>00</span>
                            </a>
                        </div>
                    </div>
                    <div class="tes_xiaot_shang tes_xiaot_xia">
                        <div class="tes_xiaot_neir">
                            <a href="#">
                                <h1><img class="tes_xiaot_dongh" src="~/NewUI/images/tes_shangp_xiao.jpg"></h1>
                                <h2>法国</h2>
                                <span>00</span>
                            </a>
                        </div>
                        <div class="tes_xiaot_neir tes_xiaot_wubian_kuang">
                            <a href="#">
                                <h1><img class="tes_xiaot_dongh" src="~/NewUI/images/tes_shangp_xiao.jpg"></h1>
                                <h2>法国</h2>
                                <span>00</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="rem_shangp">
            <div class="neir_biaot">
                <p>热门商品</p>
                <p class="yingw">Hot commodity</p>
                <a href="#">MORE+</a>
            </div>
            <div class="rem_shangp_beij_k">
                <!---->
                <div class="picScroll_left">
                    <div class="hd">
                        <ul></ul>
                    </div>
                    <div class="bd">
                        <ul class="picList">
                            <li>
                                <div class="pic"><a href="#" target="_blank"><img src="~/NewUI/images/rem_shangp.jpg" /></a></div>
                                <div class="title"><a href="#" target="_blank">法国签证</a><span>00</span></div>
                            </li>
                            <li>
                                <div class="pic"><a href="#" target="_blank"><img src="~/NewUI/images/rem_shangp1.jpg" /></a></div>
                                <div class="title"><a href="#" target="_blank">法国签证</a><span>00</span></div>
                            </li>
                            <li>
                                <div class="pic"><a href="#" target="_blank"><img src="~/NewUI/images/rem_shangp.jpg" /></a></div>
                                <div class="title"><a href="#" target="_blank">法国签证</a><span>00</span></div>
                            </li>
                            <li>
                                <div class="pic"><a href="#" target="_blank"><img src="~/NewUI/images/rem_shangp1.jpg" /></a></div>
                                <div class="title"><a href="#" target="_blank">法国签证</a><span>00</span></div>
                            </li>
                            <li>
                                <div class="pic"><a href="#" target="_blank"><img src="~/NewUI/images/rem_shangp1.jpg" /></a></div>
                                <div class="title"><a href="#" target="_blank">法国签证</a><span>00</span></div>
                            </li>
                            <li>
                                <div class="pic"><a href="#" target="_blank"><img src="~/NewUI/images/rem_shangp1.jpg" /></a></div>
                                <div class="title"><a href="#" target="_blank">法国签证</a><span>00</span></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!---->
            </div>
        </div>
    </div>

    <script type="text/javascript">
        jQuery(".picScroll_left").slide({ titCell: ".hd ul", mainCell: ".bd ul", autoPage: true, effect: "left", autoPlay: true, vis: 2, trigger: "click" });
    </script>

    <!--底部-->
    <div class="dib_beij">
        <div class="dib_jvz_beij">
            <div class="shangp_baoz" >
                <p>旅游&nbsp;&nbsp;旅游</p>
                <p class="beng1">旅游&nbsp;&nbsp;旅游</p>
                <p class="beng2">商务&nbsp;&nbsp;探亲</p>
                <p class="beng3">访友&nbsp;&nbsp;家庭出行</p>
            </div>
            <div class="zhongj_youx" style="display:none;">
                <div class="lieb_daoh">
                    <h4>物流配送</h4>
                    <ul>
                        <li><a href="#">配送查询</a></li>
                    </ul>
                </div>
                <div class="lieb_daoh">
                    <h4>支付与账户</h4>
                    <ul>
                        <li><a href="#">货到付款</a></li>
                    </ul>
                </div>
                <div class="lieb_daoh">
                    <h4>购物帮助</h4>
                    <ul>
                        <li><a href="#">购物保障</a></li>
                    </ul>
                </div>
                <div class="lieb_daoh">
                    <h4>售后服务</h4>
                    <ul>
                        <li><a href="#">退换货服务</a></li>
                    </ul>
                </div>
                <div class="lieb_daoh">
                    <div class="kef_dianh">
                        <p>客服电话</p><span>400-6677-937</span>
                    </div>
                    <div class="kef_dianh kef_dianh_youx">
                        <p>意见收集邮箱</p><p>Ask@wangid.com</p>
                    </div>
                </div>
                <div class="lieb_daoh lieb_daoh_you">
                    <div class="erw_ma_beij">
                        <div class="erw_m">
                            <h1><img src="~/NewUI/images/mb_wangid.png"></h1>
                            <span>扫码下载通城客户端</span>
                        </div>
                        <div class="erw_m">
                            <h1><img src="~/NewUI/images/mb_wangid.png"></h1>
                            <span>扫码下载通城客户端</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="beia_hao">
                <p>©2017 All Rights Reserved Version 3.0 星空旅行</p>
                <p class="gonga_bei"><a style="color: rgb(28, 132, 198);" href="http://www.miitbeian.gov.cn" target="_blank">沪ICP备18008280号-2</a></p>
                <div class="renz_">
                    <span></span>
                    <span class="span1"></span>
                    <span class="span2"></span>
                    <span class="span3"></span>
                </div>
            </div>
        </div>
    </div>








</body>
</html>