@model EF.T_Article
@{
    Layout = null;
    ViewBag.Title = "ShowArticle";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>公告展示</title>
    <meta name="keywords" content="公告展示">
    <meta name="description" content="公告展示">
    <link href="/css/bootstrap.min.css?v=3.4.0" rel="stylesheet">
    <link href="/css/font-awesome.css?v=4.3.0" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css?v=3.0.0" rel="stylesheet">
</head>
<body class="gray-bg">
    <div>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="well">
                            <h3>@Model.ArtTitle</h3>
                            @Html.Raw(Model.ArtContent)
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- 全局js -->
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js?v=3.4.0"></script>

    <!-- 自定义js -->
    <script src="/js/content.js?v=1.0.0"></script>
</body>
</html>