.wrapper{width:1000px; background-color:#fff; margin-left:auto; margin-right:auto; margin-bottom:5px; overflow:hidden;}
.txtahong {color: red;}
.txtB{font-weight:bold;}
.Content_padding10 {padding: 0 10px 10px;}
.logininfo_padding100px {padding: 0 100px;}
.logininfo_h2 {border-bottom: 1px solid #CCC;text-align: left;margin: 20px 20px 5px 20px;}
.logininfo_h2 h2 {font-size: 16px;font-family: "微软雅黑" , "黑体";line-height: 1.8em;}

/*黄色按钮*/
.org_btn:link { color: #5399c4; }
.org_btn:visited { color: #5399c4; }
.org_btn:hover { color: #5399c4; }
.org_btn:active { color: #5399c4; }
.org_btn { display: inline; float: left; color: #4587af; font-weight: bold; font-size: 14px; cursor: pointer; }
.lftp_btn { float: left; background: url(ztsWeb1/btn_txt/org_rd_lft.jpg) no-repeat; height: 35px; width: 7px; line-height: 30px; line-height: 34px\9; overflow: hidden; }
.md_btn { float: left; background: url(ztsWeb1/btn_txt/org_rd_md.jpg) repeat-x; height: 35px; line-height: 30px; line-height: 34px\9; padding: 0 10px; display: block; }
.rtp_btn { float: left; background: url(ztsWeb1/btn_txt/org_rd_rt.jpg) no-repeat; height: 35px; width: 7px; line-height: 30px; line-height: 34px\9; overflow: hidden; }
.button_con { padding-left: 100px; }

.tick_icon{background:url(ztsWeb1/tick.png) no-repeat; height:128px;  width:128px; border:0 none; display:inline-block;}

.logininfo_txt .CRselectBox a.CRselectValue {margin: 1px 1px 1px; padding: 2px 10px 2px 4px; line-height: 16px;}

.logininfo_txt dt { height:30px; line-height:30px;font-weight:bold; padding:0 0 0 150px; font-size:14px;}
.logininfo_txt dt span { width:200px; line-height:30px; display:inline-block; text-align:center; padding-right:15px;}
.logininfo_txt dt span.blur{ background-color:#efefef; color:#636363; margin-right:10px;}
.logininfo_txt dt span.focus{ background-color:#8DAFCB; color:#fff;margin-right:10px;}
.logininfo_txt dd { margin-top:20px; height:25px; }
.logininfo_txt dd b { line-height:27px; height: 25px; text-align:right; padding-right:15px; padding-left:170px;  font-weight:normal;}
.logininfo_bottom { clear:both; border-bottom:1px solid #CCC; margin-bottom:10px;}


.input_bg_width01 {width: 222px;padding-left: 4px;}
.input_bg {background: url(ztsWeb1/btn_txt/input_bg.gif);vertical-align: middle;padding-left: 4px;border: 0px;height: 25px;line-height: 23px;border-right: 1px solid #CCC;margin-left: 5px;}
img {display: inline-block;}


.box_mtop { _margin-top: -15px; *margin-top:-15px;}
.CRselectBox {background: url("ztsWeb1/btn_txt/bo3.png") no-repeat scroll right 0 transparent;border: 1px solid #CCC;cursor: default;display: block;width: 150px;height: 22px;float: left;margin-right: 5px;}
.CRselectBoxHover { background: url("ztsWeb1/btn_txt/bo3.png") no-repeat scroll right 0 transparent; }
.CRselectBox a.CRselectValue { display: block; margin: 1px 1px 2px; padding: 1px 10px 2px 4px; white-space: nowrap; color: #000; overflow: hidden; width: 120px; cursor: default; line-height: 19px; }
.CRselectBoxOptions { background: #FFFFFF; border: 1px solid #999; margin-left: -1px; list-style: none; overflow-y: auto; overflow-x: hidden; z-index: 1000; position: absolute; width: 150px; display: none; overflow: auto; min-height: 50px; max-height: 200px; }
.CRselectBoxOptions a { color: #000; display: block; height: 22px; line-height: 22px; padding-left: 4px; background: #fff; overflow: hidden; white-space: nowrap; cursor: default; }
.CRselectBoxOptions a:hover { background-color: #316AC5; color: #FFFFFF; cursor: default; }
.CRselectBoxOptions a.selected { background-color: #316AC5; color: #FFFFFF; }
/* firefox  */
.CRselectBox a { outline: none; text-decoration: none; }
.CRselectBox a:focus { outline: none; text-decoration: none; }