/*reset*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0px;padding: 0px;}
html, body {width: 100%;height: 100%;font: 12px tahoma, Arial, "微软雅黑" ,"宋体", Verdana, sans-serif;}
*html, *html body {background-image: url(about:blank);background-attachment: fixed;}

a{color:#333;text-decoration:none } 
a:hover{color:red;text-decoration: none;}
img {border: none;}
.overflow{overflow:hidden;}
ul {list-style-type: none;}
input, select, label {vertical-align: middle;
    height: 21px;
}
.hidden{display:none;}
.fPageBox{width:1000px; margin-left:auto; margin-right:auto; }
.fl{float:left;}
.fr{float:right;} 
.bgWhite{ background-color:#fff;}

.red{ color:#cc0000;}
.white { background:#f5f5f5;}
.blue { color:#3366CC;}
.green { color:green;}
.gray { color:#666;}
.yello { color:#FF6600;}
.even { background:#fff;}
.odd { background:#F9FFEC;}
.blod{ font-weight:bold;}

.xc_header_bg,.xc_header_bg h1,.icoPrint,.icoBank,.icoTel,.icoQq, .icoDay{background:url(CommonImg/productBg2.png) no-repeat 0 0;}
.xc_header_bg{height:51px;background-position:0 -53px; background-repeat:repeat-x}
.xc_header_bg h1 {width: 25px;height: 51px;line-height: 51px;float: left;}
.xc_header_bg h2 {height: 51px;line-height:51px;color: #fff;font-size: 18px;float: left;}

.xc_header_bg1,.xc_header_bg1 h1,.xc_header_bg1 .icoPrint,.xc_header_bg1 .icoBank,.xc_header_bg1 .icoTel,.xc_header_bg1 .icoQq,.xc_header_bg1 .icoDay{background:url(CommonImg/productBg3.png) no-repeat 0 0;}
.xc_header_bg1{background-color:#18212F; height:51px;background-position:0 -53px; background-repeat:repeat-x}
.xc_header_bg1 h1 {width: 25px;height: 51px;line-height: 51px;float: left;}
.xc_header_bg1 h2 {height: 51px;line-height:51px;color: #fff;font-size: 18px;float: left;}

.xc_top_menu {width: 480px;height: 51px;float: right;line-height: 51px;}
.xc_top_menu li {float: right;}
.xc_top_menu li a {color: #fff;}
.xc_top_menu li .ap{padding-right:8px;}

.xc_top_menu .icoPrint{width:32px;height:47px;background-position:-37px 0;}
.xc_top_menu .icoBank{width:32px;height:47px;background-position:-77px 0;}
.xc_top_menu .icoTel{width:32px;height:47px;background-position:-120px 0;}
.xc_top_menu .icoQq{width:30px;height:47px;background-position:-160px 0;}
.icoDay{width:32px;height:17px; line-height:17px; padding-left:4px; background-position:0 -218px; display:inline-block; font-weight:bold; color:#fff;}

table {border-collapse:collapse;border-spacing:0}
.pro_cotent {width: 1000px;margin: 8px auto;border: solid 1px #ddd;background: #fff;margin-top: 45px;}
.pro_title { font-size:18px; font-weight:bold; width:900px; margin:0 auto; padding-top:20px;}
.pro_subTitle{color:#2e82d7; font-size:12px; padding:2px;width:900px;margin:0 auto; margin-bottom:10px; }

.pro_table { margin:0 auto; border:solid 1px #ccc; margin-bottom:20px;}
.pro_color1 { background:#dedede;}
.pro_color2 { background:#f4f4f4; text-align:right; vertical-align:middle;}
.pro_color3 { background:#f4f4f4;}
.pro_table td { border:solid 1px #ccc; line-height:24px; padding:5px 10px;}
.pro_table th { border:solid 1px #ccc; font-size:12px; font-weight:normal; line-height:32px;}
.pro_table .hotel_left { width:674px; float:left; line-height:20px; vertical-align:middle; margin:10px 0;}
.pro_table .hotel_right {width:136px; height:90px; padding:1px; border:solid 1px #ccc; float:right; margin:10px 0;} 
.pro_table .trip_title{ float:left; height:32px; line-height:32px; border-right:1px solid #ccc; width:120px; cursor:pointer; font-weight:bold; text-align:center;}
.pro_table .trip_title.cur{background:#dedede; color:#cc0000;}

.order_price { text-align:center; margin-bottom:15px; line-height:20px;}
.order_price span { margin-right:40px;}
.order_price span b { font-size:20px; font-weight:bold;}

.qijia { position:relative; width:650px; border:solid 1px #cdcdcd; padding:10px; background:#fffbf4; margin:5px 0 20px 150px; *margin:5px 0 20px 0px; _margin:5px 0 20px 15px;}
.qijia p span.icon_arrow{ position:absolute; width:11px; height:6px; top:-6px; left:100px; background:url(../images/arrow1.gif) center top no-repeat; margin:0; padding:0;}
.qijia p { text-align:left; color:#595959; line-height:1.8;}

.pCalendar{width:950px; margin:10px auto;}
.pCalendarL{width:470px; }
.pCalendarR{width:470px; }

.xc_Food {margin:5px 5px;  display:block; width:400px; background-color:#fffee2;}
.xc_pic {margin:5px 5px; padding:5px 5px; display:block;  overflow:auto; float:right;}
.xc_pic hr {border:1px dotted #ddd;  }
.xc_pic li {width: 204px;line-height: 28px;float: left;list-style: none;padding: 0;margin-right:22px;}
.xc_pic li {line-height: 28px;list-style: none;}
.xc_pic li p {margin: 0;padding: 0;}
.xc_pic li p img {border: solid 1px #ccc;width: 200px;height:128px;padding: 2px;}
.tc {text-align: center;}




/*html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,big,cite,code,del,em,font,img,ins,small,strong,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{margin:0;padding:0}ol,ul{list-style:none}
#process{margin:0 auto;padding:40px 0 80px;}
.section4{width:900px;}
#process .node,#process .proce{float:left;position:relative;height:13px;background-image:url(../images/bg_state.jpg);background-repeat:no-repeat;}
#process .node{width:13px;}
#process .proce{width:75px;border:solid #fff;border-width:0 5px;}
#process .tx1{height:36px;margin-bottom:16px;}
#process .tx3{color:#999;line-height:15px;}
.node.wait{background-position:-75px -40px;}
.node.ready{background-position:-75px 0px;}
.node.singular{background-position:-75px -60px;}
.proce.wait{background-position:0 -40px;}
.proce.doing{background-position:0 -20px;color:#360;}
.proce.ready{background-position:0 0;}
#process .wait .tx2{color:#999;}
#process ul{position:absolute;margin-top:-38px;text-align:center;}
#process .proce ul{z-index:5;width:75px;}
#process .node ul{z-index:1;width:318px;margin-left:-152px;}
*html #process{overflow:hidden;}
*html #process .node{background-position-x:-75px;}
*html #process .proce{background-position-x:0;}
*html #process .wait{background-position-y:-40px;}
*html #process .doing{background-position-y:-20px;}
*html #process .ready{background-position-y:0;}
*html #process .singular{background-position-y:-60px;}*/

