@charset "utf-8";
/*reset: 重设外观 */

body,div,q,iframe,form,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6{ margin: 0; padding: 0;}
img,fieldset{border: none 0;}
body,td,textarea{word-break: break-all; line-height:1.5;}
body,input,textarea,select,button{margin: 0; font-size: 12px; font-family: Microsoft YaHei, 微软雅黑, SimSun, sans-serif;}
div,p,table,th,td{ font-size:1em; font-family:inherit; line-height:inherit;}
td{word-wrap:break-word; word-break:break-all;}
ul,dl,li{list-style: none outside;}
em,i,u,q,s,dl,caption{ font-style: normal; font-weight: normal; text-decoration: none; }
p{text-align: justify; text-justify: inter-ideograph; margin-top:0em; margin-bottom:1em;}
textarea {line-height:1.4;}
* html textarea,*+html textarea {overflow:auto; overflow-x: hidden; }/*使多行文本框不显示默认的竖向滚动条*/
* html iframe, * html frame {overflow:auto; }/*使浮动窗口不显示默认的竖向滚动条*/
* html input {overflow: hidden; }/*使按钮文字不溢出*
/*end reset*/

/*Global:常用样式*/
body{background-color:#f7f7f7;}
a{ text-decoration:none; color:#1e47a5;}
a:hover{ color:#021c59;}
a{blr:expression(this.onFocus=this.blur())}

.fp{width:1000px;  margin:0 auto; }
.fl{ float:left; _display:inline;}
.fr{ float:right; _display:inline;}
.clear {clear: both;}
.clearfix{display: block; display: table; *display: inline-block; _height: 1%;}
.clearfix:after {content:'\20'; display:block; clear:both;}
.clearself{ overflow:hidden; _overflow:visible; _height:1%;}
.inline-block{display:inline-block;*zoom: 1;*display: inline;vertical-align:middle;overflow:hidden;}
.justify{ text-align: justify; text-justify: inter-ideograph;}
h4{ font-size:16px;}
.mt10{ margin-top:10px;}
.main{ clear:both; background-color:#f7f7f7; }

.header {margin-bottom:5px;}
.header .top{ height:77px; overflow:hidden; background-color:#fff;}
.header .top .logo{ padding-top:15px;}
.header .top .toplinks{ padding-right:15px; padding-top:25px;color:#999; text-align:right;}
.header .top .toplinks img{ margin-right:5px;}
.header .top .toplinks .cmpTxt{ padding:0px 6px 0px 5px; color:green; display:inline-block; line-height:26px;}
.header .top .toplinks a{ padding:0px 6px 0px 5px; color:#0156a0; display:inline-block; line-height:26px;}
.header .top .toplinks a.no{ background:none;}

.header  .mainNavWrap{ height:40px; background:url(ztsWeb1/navbg.gif) repeat-x left top; }
.header  .mainNavWrap .mainNav{ width:760px; }
.header  .mainNavWrap .mainNav li{ float:left; width:105px; background:url(ztsWeb1/navcurrentbg.gif) no-repeat right top; line-height:40px; height:40px; text-align:center;}
.header  .mainNavWrap .mainNav li.cur{ background:url(ztsWeb1/navbgH.gif) repeat-x left top;}
.header  .mainNavWrap .mainNav li.pro{ padding:0px 55px;}
.header  .mainNavWrap .mainNav li.wid{ padding:0px 35px;}
.header  .mainNavWrap .mainNav li.widlast{ padding:0px 30px;}
.header  .mainNavWrap .mainNav li a{ font-size:14px; font-weight:bold; color:#ffffff; font-family:Arial; }

.footer{ background:url(ztsWeb1/footerbg.gif) repeat-x left top; margin-top:1px;}
.footer .footerCon{ text-align:center; padding:20px 0px; color:#999999; line-height:2.2;}
.footer .footerCon a{ padding:0px 12px; display:inline-block; line-height:26px; background:url(ztsWeb1/headerline.gif) no-repeat right center;}
.footer .footerCon a.no{ background:none; }


indWarp{}
.indWarp .left{ width:250px;border: 4px solid #B1DFEA;background-color: #F8FCFD;padding:8px;}
.indWarp .right{width:720px;}
.indWarp .quickNav_title {height: 35px;background-color: #123577;border-radius: 5px;padding: 0 10px;}
.indWarp .quickNav_title02 {height: 25px;background-color: #d4d9dc;border-radius: 3px;margin: 3px 5px;text-align: center;font-weight: bold;line-height: 25px;}
.indWarp .quickNav_title span {font-size: 16px;font-weight: bold;line-height: 35px;color: #fff;}
.indWarp .quickNav_cont {padding: 5px 0;}
.indWarp .pleaseBox {float: left;width: 80px;padding-left: 3px;}
.indWarp .quickNav_cont a {display: block;float: left;line-height: 22px;font-size: 12px;color: #2c3e50;border-radius: 3px;padding:3px 5px;}
.indWarp .quickNav_cont a:hover{background-color:#123577;color:#fff}
.indWarp .quickNav_cont a.select{background-color:#123577;color:#fff}

.indWarp .conPro {width: 704px;border: 2px solid #B1DFEA;background-color: #F8FCFD;padding:6px; margin-top:5px;}
.indWarp .conPro_title {border-bottom:2px solid #2c6370;font-size: 15px;font-weight: bold;}
.conPro_cont {padding: 5px 0;}
.cfix {zoom: 1;}
.conPro_cont li{padding:15px 0 5px;border-bottom:1px dashed #ccc;height:93px;overflow:hidden;width:689px;float:left;}
.conPro_cont .lineitem .img{ float:left; display:inline;}
.conPro_cont .lineitem .img img{ width:130px; height:90px;}
.conPro_cont .lineitem .prd-num{margin-top:5px;color:#999;}
.conPro_cont .lineitem .info{ width:445px; margin-left:15px;}
.conPro_cont .lineitem .t a{ color:#3265ce; font-weight:bold; font-size:14px;display:inline-block;width:445px;overflow:hidden;text-overflow:ellipsis; white-space:nowrap;}
.conPro_cont .lineitem .t a:hover{ color:#f60; font-weight:bold; font-size:14px;}
.conPro_cont .lineitem .desc{ margin: 5px 0;width: 445px;height: 37px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.conPro_cont .lineitem .moredesc{ color:#999;font-family:simsun;}
.conPro_cont .lineitem .moredesc .n{ color:#f60;}
.conPro_cont .lineitem .moredesc .pin{ margin:0 30px 0 7px;}
.conPro_cont .lineitem .moredesc .pin a{ color:#013298;}
.conPro_cont .lineitem .date{ background:url("ztsWeb1/index.gif") -130px -187px no-repeat;background-position-y:-187px;*background-position-y:-188px;height:16px;padding-left:18px; color:#666; display:inline-block;line-height:16px;}        
.conPro_cont .lineitem .detail{ text-align:right;}
.conPro_cont .lineitem .detail .sup{background: url("ztsWeb1/index.gif") no-repeat -63px 0;color: #FFFFFF;display: inline-block;height: 18px;line-height: 18px; margin-bottom: 6px;text-align: left;text-indent: 5px;width: 65px;}
.conPro_cont .lineitem .detail .price{ padding-bottom:8px;color:#666; }
.conPro_cont .lineitem .detail .price .u{ color:#f60; }
.conPro_cont .lineitem .detail .price .n{ color:#f60; font-size:20px; font-family:Microsoft Yahei; margin-right:3px;}
.conPro_cont .lineitem .detail .d,.conPro_cont .lineitem .detail .s{ background:url("ztsWeb1/index.gif") no-repeat; width:41px; height:18px; display:inline-block; text-align:right; }
.conPro_cont .lineitem .detail .d{ background-position:-46px -22px;}
.conPro_cont .lineitem .detail .s{ background-position:-95px -22px; margin-left:5px;}
.conPro_cont .lineitem .detail .dsnum{ text-align:center; width:25px; text-align:center; display:inline-block; color:#f60; font-style:normal; margin-top:2px;}
.newChannel-more{height:36px;line-height:36px;text-align:right;}
.newChannel-more a{color:#3265ce;font-family:simsun;}
.newChannel-more a:hover{color:#f90;}

#divContent table {width: 100%;border-collapse: collapse;}
#divContent table th {background: url(CommonImg/pro_titbj.jpg) repeat-x;border-left: 1px #cccccc solid;border-right: 1px #cccccc solid;border-bottom: 1px #cccccc solid;border-top: 2px #B6D2E9 solid;height:40px;}
#divContent table td {border: 1px #cccccc solid;padding: 8px 3px;line-height: 20px;}
.GridViewBg{border-collapse: collapse; border:1px solid #ccc; background-color:#fff;}
.GridViewBg td{padding:2px 3px; line-height:20px;}
.GridViewBg td a{color:#205966;}
.GridViewBg td a:hover{color:#000;}
.GridViewHead{height:28px; color:#666; background: url(../AdminJsCss/Img/pro_titbj.jpg) repeat-x;border-left: 1px #cccccc solid;border-right: 1px #cccccc solid;border-bottom: 1px #cccccc solid;border-top: 2px #B6D2E9 solid;text-align:center; font-weight:bold;}
.GridViewOddRow{background-color:#fff; }
.GridViewEvenRow{background-color:#f8f8f8;}
.GridViewActiveRow{background-color:#ebfbff;}
.GridViewSelectRow{background-color:#fffee2; }
.datePicker {background: url(CommonImg/productBg1.png) no-repeat 0 0;width: 16px;height: 16px;background-position: 0 -321px;border: 0 none;cursor: pointer;}


/*其它 banner区域样式*/
.bannerWrap{ clear:both; height:460px; background:url(ztsWeb1/bannerbg.gif) repeat-x left top;}
.bannerWrap2{ clear:both; height:242px; background:url(ztsWeb1/bannerbg.gif) repeat-x left top;}
.bannerWrap .banner{ width:100%; margin:0 auto; height:460px; position:relative;overflow: hidden; }
.bannerWrap2 .banner2{ width:100%; margin:0 auto; height:242px; position:relative;overflow: hidden; }
/*当前位置*/
.positon{ padding:20px 20px 14px 36px; background:url(ztsWeb1/positionbg.gif) no-repeat 14px 23px; font-size:14px;font-family:微软雅黑,SimSun,sans-serif; }
.positon a{ color:#333333; }

.mainWrap{}
.mainWrap .left{ width:250px;}
.mainWrap .right{width:740px;}
/*新闻动态*/
.news{padding:10px;}
.bor{border-bottom:1px dashed #dedede; padding-bottom:20px;}
.page {width: 700px;overflow: hidden;padding: 30px 10px;}
/*模块样式*/
.mod{}
.mod .title{  padding:4px 10px; border-bottom:1px solid #e6e5e5; }
.mod .titlebg{ line-height:38px; height:38px; background:url(ztsWeb1/titlebg.gif) no-repeat left top; border:none;}
.mod .title h2{ font-size:16px; color:#333333; font-weight:normal; font-family:微软雅黑, SimSun, sans-serif;}
.mod .title a{display:inline-block; padding-top:8px;}
.mod .title a.more{ color:#004f93; display:inline-block; padding-top:8px; font-family:SimSun, sans-serif;}
.mod .title h2.question{padding-left:18px;  background:url(ztsWeb1/questions.gif) no-repeat left center; overflow:hidden;}
.mod .title h2.cases{padding-left:20px;  background:url(ztsWeb1/iconal.gif) no-repeat left center; overflow:hidden;}
.mod .title h2.buy{padding-left:20px;  background:url(ztsWeb1/zixun.gif) no-repeat left center; overflow:hidden;}
.mod .title h2.soonlink{padding-left:20px;  background:url(ztsWeb1/soonlink.gif) no-repeat left center; overflow:hidden;}
.mod .con{ padding:10px;}
.mod .conbg{ background:url(ztsWeb1/midbg.gif) repeat-y left top;}
.mod .bottombg{ background:url(ztsWeb1/bottombg.gif) no-repeat left bottom; height:18px; font-size:0px; overflow:hidden;}
.list li{ padding:4px 0px; padding-left:12px; background:url(ztsWeb1/dian.gif) no-repeat left center;}
.soonlist{clear:both}
.soonlist li{ padding:4px 16px; line-height:1.8; background:url(ztsWeb1/sanjiao.gif) no-repeat 5px 12px;}
.soonlist li.cur{ font-weight: bold; font-size:13px;}


.plist {margin: 10px 0px 0 5px;color: #777;float: left;width: 730px;}
.plist .single {clear: both;margin: 0 0 30px 0;}
.plist .single{clear:both; margin:0 0 30px 0;} .title {float:left; width:100%;}
.plist .title {font-size: 15px;font-weight: bold;}
.plist .title a{color: #1ba1e2;}
.plist .title a:hover{color:darkgreen;}
.plist .content{float:left; width:100%; padding:5px 0 0 0; position:relative;}
.plist .content .company-name{background:#000; filter:alpha(opacity=50);	-moz-opacity:0.5;	-khtml-opacity: 0.5;	opacity: 0.5; height:22px; position:absolute; top:243px; left:0; padding:0 0 0 15px; color:#ccc; line-height:22px; width:705px;}
.plist .content .description{padding:0 0 5px 0; line-height:24px;color:#666; }
.plist .content img{ margin:2px auto;}
.plist .bottom{padding: 10px 0 10px 0;border-bottom: 1px solid #eee;}

.ad{ text-align:center; margin-top:10px; }
.phonetop{ padding-top:10px; padding-left:76px; height:60px; background:url(ztsWeb1/phoneWrap.gif) no-repeat left 6px;}
.phonetop .tle{ width:131px; height:22px; line-height:22px; font-size:12px; color:#ffffff; text-align:center; background:url(ztsWeb1/blue.gif) no-repeat left top; }
.phonetop .phonecon{ padding-top:4px; font-style:italic; font-size:18px; font-family:Tahoma, Geneva, sans-serif; color:#037ec2; }
.phone{ padding-left:35px; background:url(ztsWeb1/phonebg.gif) no-repeat 14px center; height:25px; line-height:24px;}
.email{ padding-left:35px; background:url(ztsWeb1/emaillbg.gif) no-repeat 14px center; height:25px; line-height:24px;}

.showgood h2{ border-bottom:1px solid #cccccc; font-size:20px; padding:0px 20px; font-weight:normal; padding-bottom:6px;}
.lesson{color:#333;padding:10px 5px;border-bottom:1px dashed #ccc;}
.lesson .title{font-size:14px;color:#004f93;line-height:35px;font-family:微软雅黑, SimSun, sans-serif;}
.lesson .con{ font-size:12px;}
.lesson .z_detail{ text-align:center; font-weight:bold; font-size:18px;}

.pagination {font-size: 85%;}
.pagination a {text-decoration: none;border: solid 1px #dfdfdf; color: #666;}
.pagination a, .pagination span {display: block;float: left;padding: 0.3em 0.5em;margin-right: 5px;margin-bottom: 5px;min-width:1em;text-align:center;}
.pagination .current {background: #3ea7ba;color: #fff;	border: solid 1px #dfdfdf;}
.pagination .current.prev, .pagination .current.next{color:#999;border-color:#999;background:#fff;}


/*合作单位查询*/
.h_list{padding:10px 0 10px 10px; overflow:auto; }
.h_list li{width:79px; height:23px; float:left; margin-right:15px; text-align:center; line-height:23px; margin-bottom:10px; }
.h_list li a{ display:block;}
.outmouse a{color:#fff; background:url(ztsWeb1/h_btn1.gif); }
.mouse a{color:#454545;  background:url(ztsWeb1/h_btn2.gif); }
.mouse a:hover{color:#fff;  background:url(ztsWeb1/h_btn1.gif); }
.mouse a.select{color:#fff;  background:url(ztsWeb1/h_btn1.gif); }
.p_list{padding:5px 0 5px 10px; overflow:auto;border-bottom:1px dashed #e6e6e6; }
.p_list li{height:23px; float:left; margin-right:15px; text-align:center; line-height:23px; margin-bottom:5px; }
.p_list li a{ display:block; padding:0px 3px;}
.mouse2 a{color:#454545;  border:1px solid #b8b8b8; background-color:#efefef;}
.mouse2 a:hover{color:#fff;   border:1px solid #468ecf; background-color:#4c9ae1;}
.mouse2 a.select{color:#fff;   border:1px solid #468ecf; background-color:#4c9ae1;}
.mouseTitle{font-weight: bold;}

.box_con{margin:5px 0px}
.box_con li{float: left;width: 360px;margin-bottom: 15px;padding-bottom: 15px;border-bottom: 1px solid #eee;}
.box_tb{height:6px; background:url(ztsWeb1/H_tbg.jpg) no-repeat;}
.box_cb{background:url(ztsWeb1/H_cbg.jpg) repeat-y; padding:10px 10px; overflow:auto;}
.box_bb{height:7px; background:url(ztsWeb1/H_bbg.jpg) no-repeat;}
.htitle{font-size:16px; margin-bottom:5px; }
.htitle span{font-size:12px; }

.htitle a{color:#1ba1e2;}
.htitle a:hover{text-decoration:underline;}
.h_photo img{ max-width:345px; max-height:180px;}

/*酒店查询*/
.sh {}
.sh li {border:1px solid #e6e6e6; float:left; height:253px; width:355px; margin:0 5px 10px 5px; padding:1px 1px; background-color:#fff; position:relative;}
.sh li:hover{border:2px solid #4c9ae1;padding:0px 0px;}
.sh li .dimg{width:355px; height:200px; overflow:hidden;}
.sh li .text{ padding:5px 0px 2px 10px;}
.sh li .Tit{line-height:24px; font-size:16px; color:#000;}
.sh li .dname{color:#4c9ae1;}
.sh li .daddr{padding:0px 10px; color:#999999}
.sh .nullText{font-size: 16px;border: 2px solid #eee;background-color: #fff;margin: 10px 5px;padding: 10px 10px;}


/*酒店详细*/
.scmp {border:1px solid #e6e6e6; background-color:#fdfdfd;}
.scmp .headImg{width:1000px; height:480px; overflow:hidden; position:relative;}
.scmp .headImg .Info{position:absolute; top:360px; left:0px; background-color:#000; width:650px; height:100px; padding:10px 10px;}
.scmp .headImg .city{padding:2px 4px;color: #fff;}
.scmp .headImg .title {font: 18px Helvetica,Arial,"微软雅黑","Microsoft YaHei",sans-serif;border-bottom: 1px solid #fff;color: #fff;padding:10px 0;margin-bottom: 5px;}
.scmp .headImg .add {color:#51daff;}
.scmp .con{ padding:10px 10px;margin:10px 40px;}
.scmp .content{ line-height:23px; }
.scmp .imgList{border:1px solid #e6e6e6; }
.scmp .imgList a{border:1px solid #eee; padding:2px 2px;width:200px; height:150px; display:inline-block;margin-bottom:15px;margin-right: 18px;}
.scmp .imgList a:hover{border-color:#4c9ae1;}
.scmp .imgList a img{width:200px; height:150px; overflow:hidden;}
.bgcol1{background-color:#5b5b5b;}
.alpha50 {filter: alpha(opacity=90);-moz-opacity: 0.9;-khtml-opacity: 0.9;opacity: 0.9;}
.alpha90 {filter: alpha(opacity=70);-moz-opacity: 0.7;-khtml-opacity: 0.7;opacity: 0.7;}
.alpha60 {filter: alpha(opacity=60);-moz-opacity: 0.6;-khtml-opacity: 0.6;opacity: 0.6;}



/*产品查询*/
.pr{}
.pr .title{  padding:4px 10px; border-bottom:1px solid #e6e5e5; }
.pr .titlebg{ line-height:38px; height:38px; background:url(ztsWeb1/lBgTitle.gif) no-repeat left top; border:none;}
.pr .conbg{ background:url(ztsWeb1/lBgMiddle.gif) repeat-y left top;}
.pr .bottombg{ background:url(ztsWeb1/lBgBottom.gif) no-repeat left bottom; height:18px; font-size:0px; overflow:hidden;}
.pr .title h2{ font-size:16px; color:#333333; font-weight:normal; font-family:微软雅黑, SimSun, sans-serif;}
.pr .title h2.soonlink{padding-left:20px;  background:url(ztsWeb1/soonlink.gif) no-repeat left center; overflow:hidden;}

.prs{border: 1px solid #e6e6e6;background-color: #fdfdfd;overflow: hidden;padding: 10px 0 0 10px;}
.prs li {border:1px solid #e6e6e6; float:left; height:253px; width:470px; margin:0 5px 10px 5px; padding:1px 1px; background-color:#fff; position:relative;}
.prs li:hover{border:2px solid #4c9ae1;padding:0px 0px;}
.prs li .dimg{width:470px; height:200px; overflow:hidden;}
.prs li .text{ padding:5px 0px 2px 10px;}
.prs li .Tit{line-height:24px; font-size:16px; color:#fc8300;}
.prs li .dname{color:#4c9ae1;}
.prs li .daddr{padding:0px 10px; color:#999999}
.prs .nullText{font-size: 16px;border: 2px solid #eee;background-color: #fff;margin: 10px 5px;padding: 10px 10px;}


.loadingBox{ width:230px;height:50px; background-color:#fff;}
.loadingBox span{ display:block; padding:5px;}
.loadingBox img{ display:block;}

/*产品显示*/
.icoair{background:url(ztsWeb1/icoAir.gif) no-repeat; width:28px; height:24px; display:inline-block; vertical-align:bottom;}
.icobus{background:url(ztsWeb1/icoBus.gif) no-repeat; width:28px; height:24px; display:inline-block; vertical-align:bottom;}
.icotrain{background:url(ztsWeb1/icoTrain.gif) no-repeat; width:28px; height:24px; display:inline-block; vertical-align:bottom;}

.proB{border:1px solid #e6e6e6; background-color:#fff;}
.proB .box{border: 1px solid #e6e6e6;overflow: hidden;color:#333;margin: 20px auto;width: 960px;}
.proB .boxT {background: #fdfdfd;font-weight: bold;color: #4c9ae1;height: 29px;line-height: 29px;text-indent: 20px;}
.proB .boxC {overflow: hidden;padding: 10px 15px; line-height:22px}
.proB .boxCon {overflow: hidden;padding: 0 5px;}
.proB .agenda{margin:15px 15px; border-bottom:dotted 1px #4c9ae1;}
.proB .agendaEnd{border-bottom:0 none !important;}
.proB .agenda .xctitle {vertical-align: middle;color: #666;font-size: 14px;padding-bottom:10px;}
.proB .agenda .arrange {padding:5px 10px;}
.proB .agenda .dayname {background: url(ztsWeb1/rili.gif) no-repeat left center;padding-left:22px;color: #ff6600;font-size: 16px; font-weight:bold; padding-right:10px;}
.proB .agenda .dayname .day{font-size:25px;}
.proB .agenda .agText {background-color: #fbfbfb;margin: 15px 10px;padding: 15px 15px;line-height: 25px;}
.proB .bt{margin-left:10px;}
.proB .pic {margin:0px 10px;display:block;  overflow:auto;}
.proB .pic li {width: 164px;line-height: 26px;float: left;list-style: none;padding: 0;margin-right:20px;}
.proB .pic li {line-height: 26px;list-style: none;}
.proB .pic li p {margin: 0;padding: 0;}
.proB .pic li p img {border: solid 1px #ccc;width: 160px;height:102px;padding: 2px;}




/*产品显示*/
.icoair{background:url(ztsWeb1/icoAir.gif) no-repeat; width:28px; height:24px; display:inline-block; vertical-align:bottom;}
.icobus{background:url(ztsWeb1/icoBus.gif) no-repeat; width:28px; height:24px; display:inline-block; vertical-align:bottom;}
.icotrain{background:url(ztsWeb1/icoTrain.gif) no-repeat; width:28px; height:24px; display:inline-block; vertical-align:bottom;}

.proB{border:1px solid #e6e6e6; background-color:#fff;}
.proB .box{border: 1px solid #e6e6e6;overflow: hidden;color:#333;margin: 20px auto;width: 960px;}
.proB .boxT {background: #fdfdfd;font-weight: bold;color: #4c9ae1;height: 29px;line-height: 29px;text-indent: 20px;}
.proB .boxC {overflow: hidden;padding: 10px 15px; line-height:22px}
.proB .boxCon {overflow: hidden;padding: 0 5px;}
.proB .agenda{margin:15px 15px; border-bottom:dotted 1px #4c9ae1;}
.proB .agendaEnd{border-bottom:0 none !important;}
.proB .agenda .xctitle {vertical-align: middle;color: #666;font-size: 14px;padding-bottom:10px;}
.proB .agenda .arrange {padding:5px 10px;}
.proB .agenda .dayname {background: url(ztsWeb1/rili.gif) no-repeat left center;padding-left:22px;color: #ff6600;font-size: 16px; font-weight:bold; padding-right:10px;}
.proB .agenda .dayname .day{font-size:25px;}
.proB .agenda .agText {background-color: #fbfbfb;margin: 15px 10px;padding: 15px 15px;line-height: 25px;}
.proB .bt{margin-left:10px;}
.proB .pic {margin:0px 10px;display:block;  overflow:auto;}
.proB .pic li {width: 164px;line-height: 26px;float: left;list-style: none;padding: 0;margin-right:20px;}
.proB .pic li {line-height: 26px;list-style: none;}
.proB .pic li p {margin: 0;padding: 0;}
.proB .pic li p img {border: solid 1px #ccc;width: 160px;height:102px;padding: 2px;}