.fl{float:left;}
.fr{float:right;}
.wrapper {
    width: 1080px;
    margin: 0 auto; /*overflow:hidden;*/
}
.thumb {
    overflow: hidden;
}
    .thumb img {
        webkit-transform: translateZ(0);
        -webkit-transition: .2s;
        -moz-transform: translateZ(0);
        -moz-transition: .2s;
        -ms-transform: translateZ(0);
        -ms-transition: .2s;
        -webkit-transform-style: preserve-3d;
    }
    .thumb img:hover {
        text-decoration: none;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
    }


.project {
    background: #fff;
}
.topImg{width:100%;}
.topImg img {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

.content{padding-top:4px;}
.leftMod {
    width: 20%;
    background: #f4f8fb;
    border: 1px solid #dddddd;
}
.rightMod{width:79%;background:#f4f8fb;}

.rightModHua {
    width: 100%;
    background: #f4f8fb;
}

.contTop {
    background: #FEF9F9;
    padding-bottom: 6px;
    /*border: 1px solid #ddd;*/
    /*border-bottom: none;*/
    /*margin-bottom: 100px;*/
}

.leftMod ul li a {
    height: 60px;
    line-height: 60px;
    text-indent: 25px;
    font-size: 14px;
    color: #000;
    display: block;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.leftMod ul li a img{position:absolute;top:22px;left:5px;}
.leftMod ul li.on a{color:#FF7F00;font-size:16px;border-top:2px solid #FF7F00;background:#fff;}
.leftMod ul li.on ul a{color:#000;border-top:none;background:none;font-size:14px;}
.leftMod ul li ul{display:none;background:#fbfbfb;}
.leftMod ul li ul li a{font-size:14px;}
.leftMod ul li ul li a:hover{background:#fff;color:#FF7F00;}
.leftMod ul li a img.my_img02{display: none;}
.leftMod ul li.my_divon a img.my_img01{display: none;}
.leftMod ul li.my_divon a img.my_img02{display: block;}
.leftMod ul li i{display:inline-block;width:18px;height:13px;background: url(../img/icon1.png) no-repeat center;position:absolute;top:25px;right:25px;}

.contTop .rightMod .mainBox{padding:30px 30px 20px; border:1px solid #ddd;border-bottom:none;}
.contTop .rightMod .mainBox .pic{float:left;width:10%;}
.contTop .rightMod .mainBox .pic img{width:65px;height:70px;}
.contTop .rightMod .mainBox .info{float:right;width:88%;padding-top:20px;}
.contTop .rightMod .mainBox .info span{display:block;font-size:14px;color:#333;}
.contTop .rightMod .mainBox .member{padding-bottom: 12px;}
.contTop .rightMod .mainBox .adress p{font-size:14px;color:#999;margin-bottom:5px;}
.contTop .rightMod .mainBox .adress p span{color:#000;}
.contTop .rightMod .state{background:#fff;border:1px solid #ddd;}
.contTop .rightMod .state ul li{float:left;width:17%;height:60px;line-height:60px;text-align: center;border-right:1px solid #ddd;}
.contTop .rightMod .state ul li{font-size:16px;color:#333;}
.contTop .rightMod .state ul li b{color:#f00;}


.contTop .rightModHua .mainBox{padding:12px 30px 12px; border:1px solid #ddd;}
.contTop .rightModHua .mainBox .pic{float:left;width:8%;}
.contTop .rightModHua .mainBox .pic img{width:65px;height:70px;}
.contTop .rightModHua .mainBox .info{float:right;width:92%;padding-top:20px;}
.contTop .rightModHua .mainBox .info span{display:block;font-size:14px;color:#333;}
.contTop .rightModHua .mainBox .member{padding-bottom: 6px;}
.contTop .rightModHua .mainBox .adress p{font-size:14px;color:#999;margin-bottom:5px;}
.contTop .rightModHua .mainBox .adress p span{color:#000;}
.contTop .rightModHua .state{background:#fff;border:1px solid #ddd;}
.contTop .rightModHua .state ul li{float:left;width:17%;height:40px;line-height:40px;text-align: center;border-right:1px solid #ddd;}
.contTop .rightModHua .state ul li{font-size:16px;color:#333;}
.contTop .rightModHua .state ul li b{color:#f00;}


.contBom{background:#FEF9F9;}
.contBom .table{border:1px solid #ddd;}
.contBom .table h3{font-size:14px;color:#333;text-align: center;height:60px;line-height:60px;}
.contBom .table h3 span{color:#000;font-size:16px;}
.contBom .table li{border-top:1px solid #ddd;height:60px;line-height:60px;}
.contBom .table .left{float:left;width:17%;text-align: center;}
.contBom .table .left span{border-right:1px solid #ddd;width:100%;}
.contBom .table .right{float:right;width:82%;}
.contBom .table .mainHua li{background:#fff;overflow:hidden;font-size:16px;color:#333;}
.contBom .table .mainHua li span{display:inline-block;}
.contBom .table span.time{float:left;width:455px;}
.contBom .table .whether{float:right;width:196px;}
.contBom .table .right .county{float:left;width:27%;}
.contBom .table .right .prise{float:left;width:45%;}
.contBom .table .right .num{float:left;width:28%;}
.contBom .table .right span.h_bg{text-align: center;border-left:1px solid #ddd;border-right:1px solid #ddd;width:45%;}
.contBom .table .right strong{display:inline-block;width:50%;text-align: center;}
.contBom .table .right strong a{display:inline-block;padding:0 2px;height:20px;line-height:20px;font-size:14px;color:#fff;background:#ff7f00;margin-left:5px;}
.contBom .table .right .half{float:left;}
.contBom .table .right .half span{width:30%;}
.contBom .table .right .half strong{width:60%;}
.contBom .table .right .half1{width:47.3%;}
.contBom .table .right .half2{width:50%;}
.mar{text-indent:6px;}
.w_bg{background:#fff;}
.h_bg{background:#f4f8fb;}
.contBom .table .mainHua{border-bottom:1px solid #ddd;}
.contBom .table .right a img{vertical-align:top;margin-left:10px;margin-top:20px;}
.contBom .table .lab{background:#fff;}
.contBom .table .lab ul{padding:25px 0;}
.contBom .table .lab li{float:left;width:25%;text-align: center;border-top:none;}
    .contBom .table .lab li a {
        display: inline-block;
        width: 140px;
        height: 45px;
        line-height: 45px;
        font-size: 24px;
        color: #fff;
        background: #ff7f00;
        border-radius: 10px;
        margin: 0 auto;
    }
    .contBom .table .lab li span {
        display: inline-block;
        width: 140px;
        height: 45px;
        line-height: 45px;
        font-size: 24px;
        color: #fff;
        background: #CCCCCC;
        border-radius: 10px;
        margin: 0 auto;
    }
.contBom .table .lab p{text-align: center;font-size:14px ;color:#333;padding-bottom: 25px;}
