@charset "utf-8";
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, td, em, button { margin:0; padding:0; }
body { background-color:#FFF; font-size:12px; line-height:1.5; font-family:Tahoma,Simsun,sans-serif; color:#333; }
table { border-collapse:collapse; }
.visa_table_box {
    width: 1009px;
    margin: 0 auto;
}
.visa_table_tab {
    width: 1009px;
    float: right;
}
.visa_table_tab a { float:right; font-size:13px; color:#666666; width:100px; text-align:center; border:1px solid #e4e4e4; }
.visa_table_tab a.tab_first { border:1px solid #e4e4e4; width:102px; }
.visa_table_tab a.cur { background:#42a8ff; color:#fff; border-color:#42a8ff; }
.visa_table_tab a.cur:hover { color:#fff; }
.visa_table_tab a:hover { color:#42a8ff; text-decoration:none; }
.visa_table_info {
    margin-top: 10px;
    padding-bottom: 10px;
    width: 1024px;
    margin: 0 auto;
}
.visa_table { width:100%; border:1px solid #e4e4e4; table-layout: fixed; }
.visa_table td { padding:10px; border-bottom:1px solid #e4e4e4; }

.visa_table_title { width:80px; background:#f7fcff; text-align:center; border-right:1px solid #e4e4e4; }
.visa_table_title_hua {
    width: 80px;
    background: #f7fcff;
    text-align: center;
    border-right: 1px solid #e4e4e4;
}
.visa_table th {
    padding: 10px;
    border-top: 1px solid #ff0000;
    border-bottom: 1px solid #e4e4e4;
}
.visa_table_gap { border-left:1px solid #e4e4e4; border-right:1px solid #e4e4e4;height:10px; }
.material_1, .material_2, .material_3, .material_4, .material_5, .material_6, .material_7, .material_8, .material_9, .material_10 { width:30px; height:30px; background-position:-52px 0; display:block; margin-left:26px; margin-bottom:5px; *margin-left:0px;
}
.material_2 { background-position:-88px 0; }
.material_3 { background-position:-128px 0; }
.material_4 { background-position:-172px 0; }
.material_5 { background-position:-212px 0; width:38px; }
.material_6 { background-position:-260px 0; width:32px; }
.material_7 { background-position:-300px 0; height:31px; }
.material_8 { background-position:-335px 0; width:32px; }
.material_9 { background-position:-372px 0; width:31px; }
.material_10 { background-position:-412px 0; }
.visa_table_pic { font-size:12px; color:#0077dd; margin-left:20px; }
.visa_table_pic span { width:20px; height:20px; background-position:0 -336px; display:inline-block; vertical-align:middle; margin-right:0px; }
.visa_table td.visa_noleft { padding:10px 0; }
.visa_table td.visa_noleft .visa_noleft_info { border-left:dashed 1px #e4e4e4; border-right:dashed 1px #e4e4e4; padding:10px 10px 10px 20px; font-size:12px; color:#666; }
.visa_table_second { width:170px; }
.visa_info_box .visa_info_img, .material_1, .visa_table_pic span, .material_2, .material_3, .material_4, .material_5, .material_6, .material_7, .material_8, .material_9, .material_10, .resource_title i.visa_process, .numerical, .popo .left, .popo .right, .rightbox_info .content i, .showslider .close span {
    background-image: url('../img/visa_del.png');
    /*_background-image: url(http://pic.c-ctrip.com/vacation_v2/visa/visa_del_ie.png);*/
    background-repeat: no-repeat;
}

