body {_behavior: url(csshover3.htc);}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0px;padding: 0px;}
html, body {width: 100%;font-size: 12px; background-color:#f9f9f9; background-repeat:repeat;font-family: "Microsoft YaHei", "微软雅黑", Helvetica, "黑体", Arial, Tahoma;	}
*html, *html body {background-image: url(about:blank);background-attachment: fixed;}
/*所有页面变灰
html{FILTER:gray;filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);}
*/

a{color:#333;text-decoration:none } 
a:hover{color:#2b626f;text-decoration: none;}
img {border: none;}
ul {list-style-type: none;}
table {border-collapse: collapse;border-spacing: 0;}
input, select, label {vertical-align: middle;
    height: 21px;
}

.hidden{display:none;}
.fPageBox{width:100%; margin-left:auto; margin-right:auto;overflow:hidden;}
.fl{float:left;}
.fr{float:right;} 
.marginT_5{ margin-top:5px;}
.marginB_5{ margin-bottom:5px;}
.marginT_10{ margin-top:10px;}
.marginB_10{ margin-bottom:10px;}
.warn{border: 1px solid #ffca80;background-color: #fffee2;}
.bgWhite{ background-color:#fff;}
.fb{font-weight:bold;}
.fred{color:Red;}
.freddark{color:#ad140a;}
.fgreen{color:Green;}
.fblue{color:Blue;}
.fblueligh{color:#3366cc;}

.text-overflow{white-space:nowrap;text-overflow:ellipsis;-moz-text-overflow:ellipsis;overflow:hidden;}
.txtoverflow{display: block; width:38px; word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.clear{clear:both;}
.clearfix{*zoom:1;height: 100%;}
.clearfix:after,.section:after {clear:both;height:0;overflow:hidden;display:block;visibility:hidden;content:".";}
.txtinp{border:1px #dbdbdb solid;padding:3px;margin-right:3px;}
.overflow{overflow:hidden;}
.lazy {}


/*登录界面*/
.Login_bg01{background:url(../AdminJsCss/Img/login_bg1.jpg) center 122px no-repeat;}
.Login_bg02 {
    background: url(/ClientWebJsCss/Img/login_bg2.jpg) center 122px no-repeat;
}
.Login_bg03{background:url(../AdminJsCss/Img/login_bg3.jpg) center 122px no-repeat;}
.LoginBg {width: 960px;height: 428px;margin: 0 auto;position: relative;}
.LoginBg #divM{float:right; width:300px; margin-top:70px;background: white;border: 1px #bbb solid;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);-moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);padding: 1em 2em 2em;}
.LoginBg .tagSpan{width:60px; color:#757575; display:inline-block; text-align:right; padding-right:4px;}
.LoginBg ul {list-style:none;margin:0; padding:0;}
.LoginBg ul li {margin: 5px 0px;line-height: 36px;height: 36px;}
.LoginBg ul li.Title {font-size:15px; font-weight:bold; color:#333;}
.input_kuang, .sub_login {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-image: url(/ClientWebJsCss/Img/inputBg.gif);
    background-repeat: repeat-x;
}
.input_kuang {vertical-align: top;height: 20px;line-height: 20px;padding: 8px;font-size: 14px;border: 1px solid #e3e3e3;border-top: 1px solid #ccc;width: 200px;background-color: #fff;background-position: 0 -118px;box-shadow: 0 1px 1px #fff;}
.no_bg {border: 0 none;padding: 0;background-color: transparent;cursor: pointer;display: block;}
.sub_login{width:130px;margin:0 0;border:1px solid #dd621f;height: 40px;background-position: 0 0;cursor: pointer; }
.sub_login input {width: 130px;height: 40px;color: #fff;font: 700 16px/40px 微软雅黑E\8F6F\96C5\9ED1,黑体ED1\4F53,文泉驿黑体\6CC9\9A7F\9ED1\4F53;}

/*主页面*/
.logoBg{background-color:#fff; border-bottom:2px solid #ddd; margin-bottom:5px; position: relative; overflow:visible;}
.logo{float: left;width: 400px;height:140px; background:url(/ClientWebJsCss/Img/logo.png) 0px 50px no-repeat;}
.headBg{float:right;width: 463px;height:70px; }
.logoCity {float: left; width: 80px;height: 24px;margin-top:25px;line-height: 24px;text-indent: 10px;color: #006097;background: url(Img/check_city.gif) no-repeat;cursor: pointer;}
.logoCity .select{font-weight: bold;}
.moreStart {position: absolute;width:90px;padding:5px;border:1px solid #ddd;background-color: #f3f3f3;left:276px;top:50px; display:none;}

/*城市切换 */
/*#profile_city{width: 150px; margin-bottom:5px;text-align: right;color: #fff;line-height:3px;height:3px;position: relative;z-index: 10;}
#profile_city .on{color: Red;border: red 1px solid;background-color: #fff;width: 70px;}
.city_list{position:absolute;text-align: left;cursor: pointer;z-index: 10;width: 72px;text-indent: 5px;height:auto;right:0px;}
.city_list span{background:url('../AdminJsCss/Img/iconDrop.gif') no-repeat right ;display:block;width:50px;height:25px;}
.city_title{ position:absolute; left:20px;}
.city_other{background-color: #fff;top: 28px;right: 0;width: 70px;z-index: 9;display: none;}
.city_other a{display: block;color: #000 !important;text-align: left;line-height: 24px;text-indent: 5px;}
.city_other a:hover{background: #f4f4f4;}*/


.navMenu{height:40px; background:url(../ShareCss/CommonImg/webMenu.gif) repeat-x 0 0;background-position:0 -85px; }
.navMenu ul{width:1000px;margin:0 auto; overflow:hidden;}
.navMenu li{float:left;line-height:40px; background:url(../ShareCss/CommonImg/webMenu.gif) no-repeat 0 0;width:83px;height:40px;background-position:0 0;}
.navMenu li.select{background:url(../ShareCss/CommonImg/webMenu.gif) no-repeat 0 0;width:83px;height:40px;background-position:0 -43px;}
.navMenu li:hover{background:url(../ShareCss/CommonImg/webMenu.gif) no-repeat 0 0;width:83px;height:40px;background-position:0 -43px;}
.navMenu li a{color:#fff; font-weight:bold;display:block; width:83px; text-align:center;}
.navMenu li a:link,.navMenu li a:visited{color:#fff;}

.navMenuBor{border:1px solid #ddd; overflow:hidden;}
.navMenuBar{background:url(../ShareCss/CommonImg/webMenu.gif) repeat-x 0 0;height:40px;background-position:0 -132px;}
.navMenuBar .tit{color:#fff; padding:10px 0 0 10px; font-weight:bold;}

.navMenuBar2{background:url(../ShareCss/CommonImg/webMenu.gif) repeat-x 0 0;height:30px;background-position:0 -179px; border-bottom:1px solid #ddd;}
.navMenuBar2_box{border:1px solid #ddd;}
.navMenuBar2 .title{ text-align:center; font-weight:bold; color:#333; display:block; padding-top:6px;}
.navMenuBar2_box .con{padding:5px 0 0 5px;}
.navMenuBar2_box .con a{display:block; line-height:18px; height:18px;word-break:keep-all;white-space:nowrap; text-overflow:ellipsis;}

/*顶部*/
.frmTopBar{background-image:url(../AdminJsCss/Img/frameTopBar.jpg); background-repeat:repeat-x;width: 94%; height:32px; z-index:999;position:fixed;bottom: 0;left: 0;margin: 0 3%;border: 1px solid #f8f8f8;}
.frmTopBar ul{ list-style-type:none; width:100%; margin: 0 auto; }
.frmTopBar ul li{ float:left; line-height:32px; position:relative; padding:0 8px; text-align:center;}
.frmTopBar ul li.split{background:url(../AdminJsCss/Img/frameImg.jpg) no-repeat 0 0; width:7px;height:32px;background-position:-310px -17px; margin:0 5px 0 5px;}
.frmTopBar ul li s{top: 12px;left: 0;width: 0;height:12px;border-left: 1px solid #ccc;overflow: hidden; position:absolute;}
.frmTopBar ul li b {width: 7px;height: 4px;background:url(Img/frame.png) no-repeat;background-position: -95px -55px; display:inline-block;}
.frmTopBar ul li span{font-weight:bold; color:Red;}
.frmTopBar ul li .cmpName{width:250px; overflow:hidden;word-break:keep-all;white-space:nowrap;text-overflow:ellipsis}
.frmTopBar ul li .userLogo {width: 25px;height: 25px;border: 1px solid #2b626f;padding: 1px 1px;margin-top: 3px; cursor:pointer;}
.frmTopBar ul li .text{margin-top:-3px; display:block; }
.frmTopBar ul li .mdrop{margin-top:3px; padding:0 6px; }
.frmTopBar ul li .dd {display: none;}
.frmTopBar ul li .hover{margin-top:3px; padding:0 5px ! important ;border:1px solid #ddd;background-color: #fff; position:relative;}
.frmTopBar ul li .hover .dd{display: block; position:absolute; left:0px; top:0px;}
.frmTopBar ul li .hover .dd a{display: block;}
.frmTopBar ul li .hover .dd a span{ color:Red;}
.frmTopBar .logoZF{width: 100px;text-align: center;}

.frmTopBar ul li .pmenu{ padding:0 1px;width:110px ! important;}
.frmTopBar ul li .active {padding:0 0; margin-top:-2px; background-color: #fff;height: 31px;border: 1px solid #bbb;border-left: 1px solid #bbb;border-right: 1px solid #bbb;border-top: none;z-index: 200; position:relative;}
.frmTopBar ul li .subpanel {position: absolute;bottom: 31px;line-height:28px; display:none;width:90px;border: 1px solid #bbb;background: #fff;overflow: hidden;padding:0 10px;}
.frmTopBar ul li .subpanel a{display: block;}
.frmTopBar ul li .subpanel a span{ color:Red;}

/*菜单页面框*/
.frmMain {overflow: hidden;background-color: #fff; margin-left:153px; padding-bottom:33px;}
#frmMenu{width:145px; margin-right:4px;}
#frmMenu .mt{height:32px;padding:0 6px;background:url(i/index.png) #9E0000 no-repeat 0 0;line-height:32px;color:#fff;}
#frmMenu .mt h2{float:left;background:none;padding-top:0;height:auto;line-height:32px}
#frmMenu .mt a{color:#fff;}
#frmMenu .mt .extra{cursor:pointer;color:#ffcccc;float:right}
.mc{border:solid #E6E6E6;border-width:0 1px 1px;overflow:hidden;}

#sidebar {height: 100%;position: absolute;left: 0;top: 0; background:url(../AdminJsCss/Img/bg-body148.gif) top left repeat-y;}
#sidebar #logo {margin:5px 2px;}

.sidebar148 {height: 100%;position: absolute;left: 0;top: 0; background:url(../AdminJsCss/Img/bg-body148.gif) top left repeat-y;}
.sidebar2531 {height: 100%;position: absolute;left: 0;top: 0; background:url(../AdminJsCss/Img/bg-body2531.gif) top left repeat-y;}
.sidebar88 {height: 100%;position: absolute;left: 0;top: 0; background:url(../AdminJsCss/Img/bg-body88.gif) top left repeat-y;}
.sidebar #logo {margin:5px 2px;}

#frmMenu dl dt{position:relative;margin-bottom:-1px;height:27px;padding:0 12px;border:solid #E6E6E6;border-width:1px 0;background:url(../AdminJsCss/Img/frameMenu.jpg) #E6E6E6 repeat-x 0 -30px;font-weight:bold;line-height:27px;cursor:pointer;}
#frmMenu dl dt b{display:block;position:absolute;top:0;right:5px;width:19px;height:27px;background:url(../AdminJsCss/Img/frameMenu.jpg) no-repeat 0 -150px;}
#frmMenu dl dt:hover{background-position:0 0;}
#frmMenu dl dt:hover b{background-position:0 -90px;}
#frmMenu dl.close dt b{background-position:0 -120px;}
#frmMenu dl.close dt:hover b{background-position:0 -60px;}
#frmMenu dl.close dd{display:none;}
#frmMenu dd{padding:4px 0 5px; background-color:#fff;}
#frmMenu dd .item{padding:2px 0 2px 24px;}
#frmMenu dd .curr{font-weight:bold; background-color:#FFB56B;}



/* ---------- jquery.tab时使用 ---------- */
.bodyTab {padding-bottom: 30px;}
.bodyTab .tab {height: 30px;padding-left: 160px;margin: 10px 0px 5px 0px;background: url(../AdminJsCss/Img/admin_x_bg.gif) 0px -120px repeat-x;}
.bodyTab .tab li {float: left;margin-right: 5px;}
.bodyTab .tab li input {width: 100px;height: 30px;line-height: 30px; font-size:15px; text-align: center;color: #666666;cursor: pointer;outline: none;border: none;background: url(../AdminJsCss/Img/admin_button.gif) -120px -30px no-repeat;}
.bodyTab .tab li input:hover {color: #3794d1;}
.bodyTab ul.tab li input.current {color: #000000;	font-weight: bold;	background: url(../AdminJsCss/Img/admin_button.gif) 0px -30px no-repeat;}
.bodyTab .ke-container tr:hover {background-color: #f0f0ee;}
.bodyTab .ke-container td {padding: 0px;margin: 0px;border: none;}
.bodyTab .buttonArea {padding: 10px 0px 10px 165px;	line-height: 25px;}
.bodyTab .fieldTitle {height: 29px;line-height: 29px;padding-right: 5px;}
.bodyTab .tabContent{width:98%}
.bodyTab .tabContent td{ padding:6px 6px;}

.info_view {border:5px solid #ddd;}
.lib_tabborder{border-bottom: #CCC 1px solid;background: url(../AdminJsCss/Img/tabBg.jpg) repeat-x;}
.lib_Menubox{height: 28px;line-height: 28px;position: relative;z-index: 7;}
.lib_Menubox dl{margin: 0px;padding: 0px;list-style: none;position: absolute;top: 3px;left: 0;margin-left: 10px;height: 25px;text-align: center; }
.lib_Menubox dt{float:left;display: block;cursor:pointer;width:70px !important;color: #333;margin-right: 2px;height: 25px;line-height: 25px;text-align: center !important; padding:0 0!important;  }
.lib_Menubox dt:hover{padding: 0px; text-align: center;background: #fff;width: 70px;border-left: 1px solid #ccc;border-top: 1px solid #ccc;border-right: 1px solid #ccc;height: 25px;line-height: 25px;}
.lib_Menubox dt.current{padding: 0px;text-align: center; background: #fff;width: 70px;border-left: 1px solid #ccc;border-top: 1px solid #ccc;border-right: 1px solid #ccc;height: 25px;line-height: 25px;}
.lib_content{margin: 10px 0px 5px 5px;height:300px;}
.lib_content div{display:none;word-wrap:break-word; overflow:auto; height:300px;line-height:24px;}
.lib_content a {color:blue !important;}
.lib_content a:hover {color:#3366CC !important;}

.specificationSelectTitle{ margin-top:5px;}
.specificationSelect {height: 100px;padding: 5px;overflow-y: scroll;border: 1px solid #cccccc;  }
.specificationSelect li {float: left;min-width: 150px;_width: 200px;}

.productDir{ padding: 5px;border: 1px solid #cccccc; width:90%;  }
.productDir div{font-weight:bold; padding-top:5px; border-top:1px solid #fafafa;}
.productDir span{padding-left:10px; display:block;}

.defaultImg{border:1px solid #c1c1c1; padding:2px; width:82px; height:82px;}
.defaultImg:hover{border-color:#3794d1;}


/*foot*/
.footer {width: 100%;height: 123px;margin: 8px auto 0 auto;}
.foot_menu {height: 30px;line-height: 30px;background: #2f6774;color: #fff;text-align: center;}
.foot_menu a {color: #fff;padding: 0 10px;}
.footer dl {width: 700px;float: left;}
.footer dt {float: left;margin-right: 15px;}
.footer dd {line-height: 20px;padding-top: 10px;}
.footer .ppa {float: right;width: 190px;height: 74px;margin-top: 10px;}

/*提示*/
input.formText {width: 180px;padding: 5px;border-top: 1px solid #999999;border-right: 1px solid #e1e1e1;border-bottom: 1px solid #e1e1e1;border-left: 1px solid #999999;}
input.formText:hover {border: 1px solid #165DD9;background-color: #EEF4FF;}
input.formText:focus {border: 1px solid #165DD9;background-color: #EEF4FF;}
input.validateError {color: #ff6600;background-color: #f6fcea;}
label.validateError {line-height: 12px;padding: 4px;padding: 6px\9;*padding: 7px;_padding: 7px;margin-left: 5px;zoom: 1;border: 1px solid #ffca88;background-color: #fffeee;}
textarea.formTextarea {width: 350px;height: 120px;padding: 5px;border-top: 1px solid #999999;border-right: 1px solid #e1e1e1;border-bottom: 1px solid #e1e1e1;border-left: 1px solid #999999;}
textarea.formTextarea:hover {border: 1px solid #47572a;background-color: #f6fcea;}
textarea.formTextarea:focus {background-color: #fcf4ea;}
textarea.editor {width: 100%;}
.formButton2 {width: 70px;height: 28px;line-height: 28px;text-align: center;outline: none;cursor: pointer;color: #646464;font-size: 12px;outline: none;border: none;background: url(/ClientWebCssjs/Img/base_button.gif) 0px 0px no-repeat;}
.formButton {
    width: 79px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    outline: none;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    outline: none;
    border: none;
    background: url(/ClientWebJsCss/Img/base_button.gif) -81px -78px no-repeat;
}
.formButtonShort {
    width: 36px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    outline: none;
    cursor: pointer;
    color: #646464;
    font-size: 12px;
    border: none;
    background: url(/ClientWebJsCss/Img/base_button.gif) -1px -29px no-repeat;
}
a.formButton2 {	display: inline-block;	display: -moz-inline-stack;	*display: inline;	zoom: 1;}
a.formButton {	display: inline-block;	display: -moz-inline-stack;	*display: inline;	zoom: 1;}
a.formButtonShort {	display: inline-block;	display: -moz-inline-stack;	*display: inline;	zoom: 1;}
.formButton2:hover {
    color: #000000;
    background: url(/ClientWebJsCss/Img/base_button.gif) -90px 0px no-repeat;
}
.formButton:hover {
    color: #fff;
    background: url(/ClientWebJsCss/Img/base_button.gif) 0px -78px no-repeat;
}
.formButtonShort:hover {
    color: #000000;
    background: url(/ClientWebJsCss/Img/base_button.gif) -39px -29px no-repeat;
}

.formBtn{ border:1px solid #dcdcdc; background:url(../AdminJsCss/Img/TopBarHover.jpg) repeat-x; color:#fffee2; padding:0 0; margin:0 0; outline:none;}
.formBtn:hover{ color:#fff; outline:none;}
.formBtnLink{ border:0px none; color:#000; background-color:#fff; padding:0 0; margin:0 0; text-decoration:underline; }
.formBtnLink:hover{ color:#3a6724;  }

.obtn,.obtnHov{background-color:#f0f0f0;border-left: 1px solid #CACACA;border-right: 1px solid #CACACA; border-top: 1px solid #CACACA;border-bottom: 1px solid #a2a2a2; display: inline-block;padding: 2px 4px;margin-bottom: 0;text-align: center;vertical-align: middle;cursor: pointer;color:#333333;}
.obtn:hover{background-color:#f9f9f9;}
.obtnHov{background-color:#B53641; color:#fff;}
/* ---------- Icon ---------- */
.trueIcon {width: 24px;height: 24px;line-height: 24px;display: inline-block;display: -moz-inline-stack;zoom: 1;*display: inline;background: url(../AdminJsCss/Img/base_icon.gif) no-repeat 0px 0px; border:0 none;}
.falseIcon {width: 24px;height: 24px;line-height: 24px;display: inline-block;display: -moz-inline-stack;zoom: 1;*display: inline;background: url(../AdminJsCss/Img/base_icon.gif) no-repeat 0px -60px; border:0 none;}
.addIcon {width: 24px;height: 24px;line-height: 24px;display: inline-block;display: -moz-inline-stack;zoom: 1;*display: inline;cursor: pointer;background: url(../AdminJsCss/Img/base_icon.gif) no-repeat 0px -120px; border:0 none;}
.removeIcon {width: 24px;height: 24px;line-height: 24px;display: inline-block;display: -moz-inline-stack;zoom: 1;*display: inline;cursor: pointer;background: url(../AdminJsCss/Img/base_icon.gif) no-repeat 0px -180px; border:0 none;}
.upIcon {width: 24px;height: 24px;line-height: 24px;display: inline-block;display: -moz-inline-stack;zoom: 1;*display: inline;cursor: pointer;background: url(../AdminJsCss/Img/base_icon.gif) no-repeat 0px -240px; border:0 none;}
.downIcon {width: 24px;height: 24px;line-height: 24px;display: inline-block;display: -moz-inline-stack;zoom: 1;*display: inline;cursor: pointer;background: url(../AdminJsCss/Img/base_icon.gif) no-repeat 0px -300px; border:0 none;}
.deleteIcon {width: 24px;height: 24px;line-height: 24px;display: inline-block;display: -moz-inline-stack;zoom: 1;*display: inline;cursor: pointer;background: url(../AdminJsCss/Img/base_icon.gif) no-repeat 0px -360px; border:0 none;}
.warnIcon {width: 16px;height: 29px;line-height: 29px;display: inline-block;display: -moz-inline-stack;zoom: 1;*display: inline;background: url(../AdminJsCss/Img/base_icon.gif) no-repeat 0px -480px; border:0 none;}
.loadingIcon {width: 20px;height: 20px;line-height: 20px;display: inline-block;display: -moz-inline-stack;zoom: 1;*display: inline;background: url(../AdminJsCss/Img/base_loading_icon.gif) center no-repeat; border:0 none;}

.icoAdd,.icoMin,.icoMsgOpen,.icoMsgClose{background:url(../AdminJsCss/Img/frameImg.jpg) no-repeat 0 0;}
.icoAdd{width:11px;height:11px;background-position:-74px -14px;}
.icoMin{width:11px;height:11px;background-position:-74px -28px;}
.icoMsgOpen{width:14px;height:12px;background-position:-20px -86px; display:inline-block;}
.icoMsgClose{width:14px;height:12px;background-position:-36px -86px;display:inline-block;}

.ord{width:33px;height:19px;background:url(../AdminJsCss/Img/OrderIco.png) no-repeat 0 0; border:0 none; display:inline-block; text-align:center; font-weight:bold; color:#fff;line-height: 17px; cursor:pointer}
.ordNew{width:47px;height:26px;background:url(../AdminJsCss/Img/OrderIco_new.png) no-repeat 0 0; border:0 none; display:inline-block;}
.ordEdit{width:47px;height:26px;background:url(../AdminJsCss/Img/OrderIco_edit.png) no-repeat 0 0; border:0 none; display:inline-block;}
.ordDel{width:47px;height:26px;background:url(../AdminJsCss/Img/OrderIco_new.png) no-repeat 0 0; border:0 none; display:inline-block;}
.ordjifen1 {border:1px solid red; color:red}
.ordjifen2 {border:1px solid green; color:green;}

.loadingBox{ width:230px;height:50px; background-color:#fff;}
.loadingBox span{ display:block; padding:5px;}
.loadingBox img{ display:block;}



/* ---------- Other ---------- */
.warnInfo {	line-height: 25px;padding: 5px 5px 5px 20px;	border: 1px solid #ffca80;	background: url(../AdminJsCss/Img/base_icon.gif) no-repeat 0px -420px #fffee2;}
.warnBox {	padding: 5px 5px 5px 5px;	border: 1px solid #ffca80;	background-color:#fffee2;}
.greyBox {	padding: 5px 5px 5px 5px;	border: 1px solid #ddd;	background-color:#fafafa;}
.loadingBar {	width: 208px;	height: 20px;	line-height: 20px;	display: inline-block;	display: -moz-inline-stack;	zoom: 1;	*display: inline;	background: url(../AdminJsCss/Img/base_loading_bar.gif) center no-repeat;}
.SearchIcon{background:url(Img/base_button.gif) no-repeat 0 0; width:17px;height:20px;background-position:-141px -40px; border:0 none; cursor:pointer;}

/*查询条件框*/
.SearchBoxTop {width:100%; margin:0 0;  background-color:#fff;}
.SearchBoxTop .Title {width:15%;   text-align:center; color:#333; font-weight:bold; font-size:10pt;  height:29px; }
.SearchBoxTop .Title div {border-top:3px solid #dcdcdc; border-left:1px solid #dcdcdc; border-right:1px solid #dcdcdc;}
.SearchBoxTop .End {width:85%;  background-color:#fff; font-weight:bold; font-size:10pt;}
.SearchBoxTop .End div{padding-top:2px; border-bottom:1px solid #dcdcdc;}
.SearchBoxTop ul {list-style:none; margin:0px; padding:0px; vertical-align:middle; width:100%; overflow:hidden;}
.SearchBoxTop ul li {float:left; line-height:22px;}

.SearchBoxMiddle {width:100%; margin:0px; margin-bottom:5px; padding-bottom:3px;  background-color:#fff; border-bottom:2px solid #dcdcdc; display:inline-block; }
.SearchBoxMiddle .Content{width:80%;background-color:#fff;}
.SearchBoxMiddle .Content div{padding-bottom:3px;}
.SearchBoxMiddle .Content span{width:60px; text-align:right; padding-right:4px; display:inline-block;}
.SearchBoxMiddle .txt{width:60px; text-align:right; padding-right:4px; display:inline-block;}


.SearchBoxMiddle .Button{width:20%; background-color:#fff;}
.SearchBoxMiddle ul {list-style:none; margin:0; padding:0; width:100%; background-color:#fff;}
.SearchBoxMiddle ul li {float:left; line-height:22px;}

.SearchBox{width:99%; margin:2px auto; margin-bottom:5px; background-color:#fbfbfb; border:1px solid #6e9929; display:inline-block; }
.SearchBox span{width:60px; text-align:right; padding-right:4px; display:inline-block;}
.SearchBox div{padding-top:2px; padding-bottom:2px;}

.SearchContent{width:100%; margin:0; background-color:#fff; vertical-align:top;}
.SearchButton {width:100%; margin:0; background-color:#fff; border-top:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc; background-color:#f6fafd; vertical-align:top; padding:3px 0px;}

.deskTopBar{background:url(../AdminJsCss/Img/deskTopBar.jpg) repeat-x; border:0 none; height:33px;}
.deskTopBar .BarTitle{padding-left:4px; display:block; font-weight:bold; font-size:10pt; height:33px; line-height:33px;}

.GridViewBg{border-collapse: collapse; border:1px solid #ccc; background-color:#fff;}
.GridViewBg td{padding:2px 3px; line-height:20px;}
.GridViewBg td a{color:#205966;}
.GridViewBg td a:hover{color:#000;}
.GridViewHead{height:28px; color:#666; background: url(../AdminJsCss/Img/pro_titbj.jpg) repeat-x;border-left: 1px #cccccc solid;border-right: 1px #cccccc solid;border-bottom: 1px #cccccc solid;border-top: 2px #B6D2E9 solid;text-align:center; font-weight:bold;}
.GridViewOddRow{background-color:#fff; }
.GridViewEvenRow{background-color:#f8f8f8;}
.GridViewActiveRow{background-color:#ebfbff;}
.GridViewSelectRow{background-color:#fffee2; }


.tbPaging{ }
.tbPaging td{line-height:35px;}


.printBg {width:727px; margin:5px auto 5px auto;}
.printBg .top{width:727px; height:26px;background:url(../AdminJsCss/Img/articleBg1.jpg) no-repeat 0 0;background-position:0 0;}
.printBg .bottom{width:727px; height:26px;background:url(../AdminJsCss/Img/articleBg1.jpg) no-repeat 0 0; background-position:0 -24px;}
.printBg .middle{width:727px; background:url(Img/articleBg2.jpg) repeat-y;  padding:20px 0 20px 15px;}




#tooltip{position: absolute;border: 1px solid #333;background: #f7f5d1;padding: 2px 5px;color: #333;display: none;z-index: 999;}
.ellipsis{display: block;width: 100px;overflow: hidden;white-space: nowrap;-o-text-overflow: ellipsis;text-overflow: ellipsis;cursor: default; display:none;}
/* firefox only */
.ellipsis:not(p){clear: both;}
.ellipsis:not(p) a{max-width: 100px;float: left;}
.ellipsis:not(p):after{float: left;width: 25px;padding-left: 1px;}


/*文本框样式*/

.sdw:focus {
    /*transition: border linear .2s,box-shadow linear .5s;*/
    outline: none;
    border-color: rgba(250,200,202,.75);
    height: 26px;
    /*font-weight: bold;*/
    font-family: "微软雅黑",Helvetica,Arial;
    font-size: 12px;
}
.fontdaxiao {
    font-family: "微软雅黑",Helvetica,Arial;
    font-size: 14px;
    text-align:left;height:30px;
}

/*行程天数的样式*/
.zylist {
    border-top:1px solid #c9c8c9;
    border-left:1px solid #c9c8c9;
}
.zylist th {
    background:url(../AdminJsCss/Img/bg-r1.gif) repeat-x;text-align:center;
}
.zylist td,.zylist th {
    border-right:1px solid #c9c8c9;
    border-bottom:1px solid #c9c8c9;
    line-height:28px;
    text-align:center;
    white-space:nowrap;
}

.productDirNEW{ padding: 5px;border: 1px solid #cccccc; width:99%;}
.productDirNEW div{font-weight:bold; border-top:1px solid #fafafa;}
.productDirNEW span{padding-left:10px;}
.protab_left {background-color:#EEEEEE; border:1px solid #bbbbbb; width:155px;}
.protab_right {background-color:#ffffff; border:1px solid #C8C8C8;font-size: 14px;text-align:left;height:30px;font-family: "微软雅黑",Helvetica,Arial;}
.productst {height:19px;border-bottom: 1px solid #000;border-top: 1px solid #fff;border-left: 1px solid #fff;border-right: 1px solid #fff; width:80px;text-align:center; }
.productst_hb {height:19px;border-bottom: 1px solid #000;border-top: 1px solid #fff;border-left: 1px solid #fff;border-right: 1px solid #fff; width:380px;text-align:left; padding-top:3px;}

/*收缩样式*/

@charset "utf-8";
/* CSS Document */
.tourguide{ width:220px;}
.tourguide dl{ overflow:hidden; zoom:1; padding-bottom:1px;}
.tourguide dt{ color:#666666; font-weight:bold; font-size:14px; background-color:#F0F0F0; padding-left:10px; height:30px; line-height:30px; width:210px;float:left; cursor:pointer; font-family:"Microsoft YaHei" ,"宋体";}
    .tourguide dt em {
        background: url(/ClientWebJsCss/Img/main.png) no-repeat;
        background-position: -24px 0;
        display: inline;
        float: right;
        height: 16px;
        margin: 8px 10px 0 0;
        overflow: hidden;
        width: 17px;
    }
.tourguide dt:hover{ background-color:#B8Dff6;}
    .tourguide dt:hover em {
        background-color: #B8Dff6;
        background: url(/ClientWebJsCss/Img/main.png) no-repeat;
        background-position: -47px 0;
    }
.tourguide dt a{ color:#666666; text-decoration:none;float:left;}
.tourguide dt a:hover{ color:#ffffff;}
.tourguide dd{ float:left; width:208px; padding-top:10px; padding-left:10px;border:1px #F0F0F0 solid; padding-bottom:10px;}
.tourguide dd a{ text-decoration:none; color:#5e5e5e;float:left; width:200px;margin:3px 0 3px 0;}
.tourguide dd a:hover{ color:#FF6600; text-decoration:underline;}
.tourguide .tit_on{ background:#2DA1E7; color:#FFF;}
    .tourguide .tit_on em {
        background-color: #B8Dff6;
        background: url(/ClientWebJsCss/Img/main.png) no-repeat;
        background-position: 0px 0;
    }
.tourguide .tit_on a{color:#FFF;}
.tourguide .tit_on:hover{ background:#2DA1E7; color:#FFF;}
    .tourguide .tit_on:hover em {
        background-color: #B8Dff6;
        background: url(/ClientWebJsCss/Img/main.png) no-repeat;
        background-position: 0px 0;
    }




